[2013-07-08 21:30] qwertycody opened #2 "Forum"
Your forum is not sending out activation emails.

[2013-07-31 18:13] ghost opened #4 "Editing TF2 (and other games?) server settings does not update the startup command"
Reproduce: Create default TF2 template, create server, edit map and player limit, start server.

Result: Server starts with default settings, despite having changed them.

[2013-08-20 07:28] msjyoo opened #5 "Assertion Failed turns status into unknown when making templates"
/home/buildbot/buildslave_steam/steam_rel_client_linux/build/src/clientdll/appdatacache.cpp (526) : Assertion Failed: app info out of sync (AppID 249150). Change number on server: 268605. Change number on client: 268605

This message comes up in /_SERVER/tmp/steam_##.log and then the template page says Status: Unknown.

The log however continues on with the installation and successfully finishes.

[2013-08-21 15:37] ghost opened #7 ""Are you sure you want to leave?""
This needs removing, no other web script does this and it's just irritating, particularly so in a case such as mine. I keep several tabs open in my browsers and close the browser as such so that it reopens with the same tabs.

If I do this with GPX open, it always prompts "Are you sure you want to leave?".

[2013-08-21 18:41] #2 closed, assigned to nobody

[2013-08-21 20:30] darkcloud784 opened #8 "Failed to open local Config"
I tried the files from the github but continue to get the following error when editing CS:GO settings. Also getting this when attempting to start the server.

Failed: Failed to open local config (/var/www/gamepanelx//_SERVERS/accounts/WGaming/192.168.1.17:27015/740/cfg/server.cfg) for writing.

[2013-08-22 01:29] itscainnotkain opened #9 "Minecraft server.properties saving bug"
Just going to leave this here.
http://www.youtube.com/watch?v=jAek-uygXkM

[2013-08-25 21:45] Byrner opened #11 "Major Steam issue"
With the current set up, any game that's installed via steam enables any clients (Non Admins) to edit others clients server configuration. As long as a client has a Steam game installed under their account, they can go to the file manager, into the folder with all the numbers and boom, there is games that aren't installed for them listed.

Meaning any client can edit/delete any other clients files

[2013-08-25 23:42] #11 closed, assigned to nobody

[2013-08-31 01:31] #5 closed, assigned to devryan

[2013-08-31 01:37] msjyoo opened #12 "Gameserver update fails"
Update: Using anonymous Steam login ...
Update failed: No PID for update process found.  Screen PID was: 7638.  Exiting. (Thu Aug 29 20:08:40 CST 2013)

This is from the server.log file in _SERVER, any way to fix? It's either the regex script is not finding the update process or the update process is not being launched at all.

[2013-09-04 09:01] RogEnk opened #13 "Spaces in directory names not recognised"
Using file browser to edit in place a configuration file (scenes.txt) in:

Modules/Napoleonic Wars

Returns:

cat: /usr/local/gpx/users/username/ip_address:port/Modules/Napoleonic: No such file or directory

cat has failed to capture the full path which is '/Modules/Napoleonic Wars/scenes.txt'

![image](https://f.cloud.github.com/assets/4310055/1079178/a249300e-1540-11e3-8830-ecf1bda34953.png)

[2013-09-16 20:04] gbobr opened #15 "Create server ends up with an empty folder"
I have a GPX installation managing gameservers in 3 network servers.
For the first network server i setted up everything works fine, but for the others, when i create a template and try to create a server from it, the panel says installation was fine but looking at the server's folder, it's empty..

The template file is ok. I've decompressed it mannualy in the corresponding folder but anyway when

[2013-09-16 20:06] gbobr opened #16 "Adding a network server after users are created"
If you create a user, and then a new network server.
You can't create gameservers for that users in the new network server, because it has no system user.

Steps to reproduce:
- Create a new user
- Add a network server
- Try to create a gameserver for the new user and network server

[2013-09-16 20:24] gbobr opened #17 "Templates not showing for alternative ip's"
In create server dialog, templates for a network server are only showing up in the primary ip.
Aditional ip's for that server doesn't show any template, making it impossible to create a server with those ip's

[2013-09-17 12:46] gbobr opened #21 "multi_query_json not working for more than 8 servers"
More than 8 servers in a multi_query_json returns "[ ]"  (Empty json response)
As a result, "All servers" view shows all status as "Loading..."

Steps to reproduce:
- Create 9 gameservers in your GPX installation
- Go to servers list.

[2013-09-17 12:52] gbobr opened #22 "Can't change gameserver description"
I can't change description field for servers.

Steps to reproduce:
- Go to settings page for a gameserver
- Change description
- Click save
- Return to server list
- \- Nothing changed -

Also, i don't know how, why or when, but sometimes gameserver descriptions gets changed to the description for another gamesever

I tried to figure out how to fix this bug, but with a quick look arround i couldn'

[2013-09-17 18:07] Demon1986 opened #23 "edit large files gets shortened"
if i edit a file on a server that is quite big, the manager cuts some of it, so when you save a config file for example, the file is only around half of what it should have been. not sure if its only bugged in firefox, or its the same in all browsers..
![frqwc54](https://f.cloud.github.com/assets/5293267/1159300/a0373e22-1fc3-11e3-96b7-26b97a0e17ab.jpg)

the pic shows the same file first opened in

[2013-09-18 18:05] devryan opened #24 "Server Paging"
The "Servers" list page needs paging added for when there are over 30 servers

[2013-09-18 18:06] #8 closed, assigned to nobody

[2013-09-18 18:07] #7 closed, assigned to nobody

[2013-09-18 18:07] #9 closed, assigned to nobody

[2013-09-18 18:08] devryan opened #25 "Remote File Uploads"
Implement file uploads that are initially copied to the Master, then SCP'd to the remote to the proper directory

[2013-09-18 19:27] #17 closed, assigned to nobody

[2013-09-18 23:37] gbobr opened #26 "FTP accounts not working"
In GamePanelX-V2 my users could log in the builtin FTP server using the same user and password they used to log in the panel.

Now in V3, ftp logins fail with a "530 Login authentication faild" error.

[2013-09-19 00:01] #26 closed, assigned to nobody

[2013-09-19 00:50] gbobr opened #27 "Add a new startup parameter to a server appends it at the beginning"
When you add a new startup parameter to the server, it gets appended to the begining of the command line, causing startup lines like:

-game ag ./hlds_run [...]

Edit: It does not happen always... I tried to reproduce this bug with no success.

[2013-09-20 09:45] adrien62 opened #28 "Language not apply for admin"
I have change the language in the admin panel for test my french.php translation, but the change i made wasn't apply.
No problem in user mode.

Strange character, problem with utf-8 (é è) (my file was save in utf8)

[2013-09-20 09:52] adrien62 opened #29 "Mumble won't launch or install"
Error with autoinstaller

Local Server.
Running Command: export HOME=/var/www/gamepanelx//_SERVERS; /var/www/gamepanelx//_SERVERS/scripts/AutoInstall -m "http://gamepanelx.com/files/murmur-latest-x86.tgz" -c "tar -zxf murmur-latest-x86.tgz \nrm -f murmur-latest-x86.tgz \nsed -i 's/#pidfile=/pidfile=murmur.pid/g' murmur.ini" -i 13 -C "http://192.168.1.156/gamepanelx/includes/callback.php?token=E5pX

[2013-09-20 11:10] adrien62 opened #32 "CS:GO server.cfg won't update"
Gamepanelx search to save the file in 740/cfg instead of 740/csgo/cfg

Fix by a symbolic link :
 ln -s /var/www/gamepanelx/_SERVERS/accounts/admin2/192.168.1.156:27030/740/csgo/cfg cfg

[2013-09-20 21:13] #22 closed, assigned to nobody

[2013-09-20 21:13] #15 closed, assigned to nobody

[2013-09-20 21:25] #32 closed, assigned to nobody

[2013-09-20 21:48] #29 closed, assigned to nobody

[2013-09-20 21:49] #28 closed, assigned to nobody

[2013-09-20 21:52] #21 closed, assigned to nobody

[2013-09-21 05:49] #27 closed, assigned to nobody

[2013-09-21 05:56] gbobr opened #33 "Create server fails with error "Failed: No Game ID or empty/invalid Template ID specified!""
I've updated to latest git version
Now when i try to create a new server i get this error:

Failed: No Game ID or empty/invalid Template ID specified!

[2013-09-26 21:10] #33 closed, assigned to nobody

[2013-10-09 08:38] fuegox opened #35 "Can't get a CS 1.6 Server install.."
Problems with my cS 1.6 Install..
Is not working when i click install what can be ?

[2013-10-15 21:03] #35 closed, assigned to nobody

[2013-10-15 21:04] #12 closed, assigned to nobody

[2013-10-16 16:20] antoniobenedetti opened #36 "Master server is not creating users on remote servers"
"Failed: Remote Failed: Remote: Login to the Remote Server failed!"  while trying to create a game server on a remote server. /var/log/Auth.log indicates that the created user does not exist on the remote server - there is invalid user error, I've tried "grep gpxtheuser /etc/passwd" and "cat /etc/passwd" but the client user is not on the list.

More information can be found in this thread: http://

[2013-10-16 17:37] antoniobenedetti opened #37 "Can't restart Counter-Strike 1.6 server"
The restart button is not working. It shows "Restarting" and after that "Success!" However the server is not restarting. Also the console output shows "ServerOutput: Sorry, server log doesnt exist."

I can see this is known issue for the voice servers, but it also affects game servers.

[2013-10-22 18:28] #36 closed, assigned to devryan

[2013-10-22 18:30] #16 closed, assigned to nobody

[2013-10-27 16:07] fuegox opened #38 "Installing Master + Remote package in same machine."
Hello I have installe Master package in my "machine"
Since I can get (a FTP good running) because if i make own from myself the Pane get out his permissios, and ofc my users get off too

I've decided to "install" remote Package in my server.

I follow the instructions and remove my last FTP server, and all was OK installed.

¿Problem?
When I log in my master panel, and go to "Network Servers" All

[2013-10-27 18:31] #38 closed, assigned to nobody

[2013-10-27 18:33] fuegox opened #39 "User's cant access the panel"
After upgrade Master files with latest github's file and remote's files.
My customers can't connect to the login panel for users.

They click "login" and nothing appears or happens .
Is not giving any error or similar that thing. -> What's the problem ?

[2013-10-29 18:02] RogEnk opened #40 "New Server creation fails due to $tplid not being defined"
Latest source from Git will result in inability to create new servers from new templates.

Example:
Cloud L4D2 server, template is created fine.
Attempt to install new server using template and error returns:
"Failed: No Game ID or empty/invalid Template ID specified!"

Line 346 of includes/classes/server.php has "if(!empty($tplid) && is_numeric($tplid)) {" However $tplid tests fail on both counts

[2013-10-31 18:53] serecords opened #41 "editing an SA:MP server as user fails"
Hello

I tried to update my SA:MP server config as user (not admin) and it fails.

Failed: Failed to update config: No server network info array given

What can I do?

[2013-11-04 20:45] gbobr opened #42 "Some characters are being removed from startup parameters"
My startup parameters are:

'./srcds_run -game ../nmrih +map nmo_lakeside +maxplayers 8 +ip XXXXXXXXX +port XXXX'

But enabling debug information shows that what gamepanelx is actualy running :

'./srcds_run -game /nmrih +map nmo_lakeside +maxplayers 8 +ip 190.210.177.185 +port 27099'

It's omitting the dots thus causing server to not start.

[2013-11-09 10:34] mrc4tt opened #43 "Installation failed / remote scripts fail"
Hello,

After i have writed (database infomation and more.)

I click "Install" i getting this error:

Error: Failed to create user: Unknown column 'date_created' in 'field list'
What to do?
- Remote Scripts failed too

- Has try with (init-function) too

[2013-11-12 15:52] snakenath opened #44 "TF2 Update in Master Local Version failing to install in correct location"
Keeps installing into /ajax folder instead of correct dir.

Also says starting on pid () with no PID reference.

[2013-11-28 22:28] khalidq8 opened #45 "Cant Install"
Hi I have gamepanelx v3 master in my wamp server i cant install it
Error:
( ! ) Notice: Undefined index: language in C:\wamp2\www\gamepanel\install\install_actions.php on line 28
Call Stack
# Time    Memory  Function    Location

1   0.0005  431144  {main}( )   ..\install_actions.php:0

( ! ) Warning: touch() [function.touch]: Unable to create file /tmp/gpxinstalltmp.txt because No such file or di

[2013-12-01 20:19] guycheap opened #46 "Steam Running > Installing 0% ( Stuck ) > Unknown"
Hi,

I'm a first time user who installed GamePanelX. I installed the remote installer on my other server, I added the gamepanel account as login for GPX I put anonymous to login for steam yet I can't seem to install ANY games. Here is what happens, I click create template:

If I'm lucky it goes to Installing but gets stuck at 0%. About 5 minutes later it goes to unknown.

What is the problem? I'm

[2013-12-03 22:50] #46 closed, assigned to devryan

[2013-12-05 00:15] #45 closed, assigned to nobody

[2013-12-15 12:28] sorano opened #47 "Unable to edit startup entries in certain browsers."
Hello.

Just tried out a master install, commit d9b6571a8f on a new Ubuntu 13.10 x64 install.

Overall everything worked fine but I experienced some minor weird issues that I am unable to solve and would like to report.

First one is in the admin panel, while managing a servers "Startup" items under "Game Setups".

Using Firefox 26.0 and Opera 12.16 I am unable to edit the text in "Item" and "Valu

[2013-12-15 16:17] Connorml2 opened #48 "Remote server User Login"
When creating a server on a remote daemon, the login fails. (Templates create fine, and so do users.):

Failed: Remote Failed: Remote: Login to the Remote Server failed!

When trying to SSH in as that user, the password defined when creating the user does not work? Could this be related.

Thanks

[2013-12-16 17:24] Saifallak opened #49 "Server.cfg Doesn't Update"
Hello
GamePanelX Installed and Creating Sa-mp Servers And is good
but in admin or user when i go to update settings in files
its never update the server.cfg i must manaully update it ? why !
also is there is any way to prevent user from change port ?!

[2013-12-17 22:14] #41 closed, assigned to devryan

[2013-12-18 04:15] Saifallak opened #50 "How to prevent User from changing something in settings ? like port?"
How to prevent User from changing something in settings ? like port?
also how to make sever reapply changes in settings tab before start?

[2013-12-21 15:51] Zumorio opened #51 "SA-MP server not starting"
Hey, i've been trying to setup the SA-MP servers, but somehow they won't start.
Also tried looking if there were any logs files which automaticly need to be there when starting it, but they arent there either.

This is my starting command:
./samp03svr

[2013-12-30 17:09] AlexVanderbist opened #52 "MySQL injection?"
I've just noticed the user login for the latest GPX v3 is vulnerable for MySQL injection?
(gif removed)

[2013-12-31 23:14] #51 closed, assigned to nobody

[2013-12-31 23:14] #50 closed, assigned to nobody

[2013-12-31 23:15] #49 closed, assigned to nobody

[2013-12-31 23:32] #47 closed, assigned to nobody

[2014-01-01 21:44] antoniobenedetti opened #53 "Can't start any server"
I've just installed manually the latest SA-MP server 0.3X(R2). I created a new user and a new server and it failed to start. All i get is "Failed: ﻿﻿﻿﻿﻿﻿success" with a red cross. So i enabled the debug mode in the config and i found no error in the start up procedure. It shows up as normal, with "success" at the end of the log.

I'm using the latest master and remote files from github. There are

[2014-01-02 21:22] #24 closed, assigned to nobody

[2014-01-02 21:22] devryan opened #54 "Forgot Password"
Implement Forgot Password functionality for admins and users.

[2014-01-03 17:13] antoniobenedetti opened #55 "Firewall option idea"
It is really simple and neat feature. The remote server can execute iptables command to ban IP addresses and the user/admin can use the web interface to add/remove (ban/unban) IP addresses.

This is not as needed as the "Forgot Password" feature, however it is a neat and useful feature to look at for the future development.

[2014-01-04 10:04] rststeam opened #56 "Can't change theme , admin area messed up (Latest gibhub)"
After updating with latest files form github
i can't change any theme it always keep the same activated.

Also this image shows how is now my admin area looking
http://puu.sh/6949Y.jpg

[2014-01-05 06:47] 4square opened #57 "Cloud Games panel not showing list, jquery issue?"
Hi, When i click on the Cloud Games section, "Loading cloud games..." appears.
After a short time is disappears with no list showing up. It would seem to be a jQuery issue i think.
![screen shot 2014-01-05 at 7 46 16 pm](https://f.cloud.github.com/assets/4473649/1846228/2f78fed8-75d5-11e3-9ba5-7167ace1b3e9.png)

Hopefully its just a minor issue? Or something wrong with my Chrome.
Thanks

[2014-01-06 20:04] #53 closed, assigned to devryan

[2014-01-07 17:49] antoniobenedetti opened #59 "SA-MP emergency server patch"
The SA-MP developers issued an emergency server patch yesterday that fixes some denial of service exploits in the networking layer. Please update the automatition links of GPX with the following: http://files.sa-mp.com/samp03xsvr_R2_patch1.tar.gz

Check out this post for more details: http://forum.sa-mp.com/showpost.php?p=2853081&postcount=1

[2014-01-07 19:44] #56 closed, assigned to nobody

[2014-01-07 20:06] #59 closed, assigned to nobody

[2014-01-07 23:14] #57 closed, assigned to nobody

[2014-01-07 23:15] #43 closed, assigned to nobody

[2014-01-07 23:15] #39 closed, assigned to devryan

[2014-01-07 23:18] #52 closed, assigned to devryan

[2014-01-08 15:54] rststeam opened #67 "Latest github files Login Failed: Invalid login! Please try again."
After pulling latest files from github i get following error Login Failed: Invalid login! Please try again ; When i try to log in into gamepanel as client or admin Tryed on Admin and Demo account. Passwords are good. Are there any changes in database?

http://puu.sh/6dS4Q.png

[2014-01-08 19:40] devryan opened #68 "Server description does not save"
If you save a template description first, then go to save a server description as an admin, the description will be wiped out blank.

Reference: https://gamepanelx.com/forums/viewtopic.php?f=11&t=4328&p=8439#p8439

Suggested fix: Change the HTML ID and javascript variable names to not confuse the browser (this is due to the ajax nature of the panel).

[2014-01-08 22:42] #68 closed, assigned to devryan

[2014-01-09 20:57] antoniobenedetti opened #69 "phpseclib"
There are lots of recent changes going on at https://github.com/phpseclib/phpseclib/tree/master/phpseclib The latest commit was made 12 days ago.

It may speed up the the files tab, as it loads somehow a bit slow. It uses this library, am I right? I think it is worth updating it before the next release.

[2014-01-10 05:19] devryan opened #70 "User Access Controls broken"
" don't want that user to change email or name in this case, however changing PW should be possible."

Relevant: https://gamepanelx.com/forums/viewtopic.php?f=11&t=4330&p=8446#p8446

[2014-01-10 05:35] devryan opened #71 "installer Undefined Index"
(09:32:48 PM) Enigma:  Undefined index: language in /var/www/html/GamePanelX-V3-master/install/install_actions.php on line 28

(09:34:05 PM) Enigma: Nah it stops me from installing.

[2014-01-17 01:39] caoli5288 opened #72 "Chinese garbled in output!"
![qq20140117093539](https://f.cloud.github.com/assets/3120587/1936996/e5592232-7f17-11e3-9d91-3f002f27c253.png)
Look at this,
My debian 7 with UTF-8 had a big garbled error.
I have tried many methods but not able to solve this problem,
Can you help me ?
Thanks!

[2014-01-27 20:54] antoniobenedetti opened #73 "File manager removes semicolons"
If you try to save a text file with the file manager that contains semicolons, they will get removed. This is really critical bug when it comes to configuring files.

[2014-01-29 15:29] kt0007 opened #74 "Error in installing :("
Error:
Notice: Undefined index: language in C:\xampp\htdocs\gamepanel\install\install_actions.php on line 28

Warning: touch(): Unable to create file /tmp/gpxinstalltmp.txt because No such file or directory in C:\xampp\htdocs\gamepanel\install\install_actions.php on line 64

Fatal error: Call to undefined function posix_getpwuid() in C:\xampp\htdocs\gamepanel\install\install_actions.php on line 66

[2014-01-29 20:29] #74 closed, assigned to nobody

[2014-02-06 21:25] zekkozable opened #75 "Counter Strike Global Offensive start issue"
#CGameEventManager::AddListener: event 'round_end' unknown.
#CGameEventManager::AddListener: event 'difficulty_changed' unknown.
#GameTypes: initializing game types interface from GameModes.txt.
#GameTypes: merging game types interface from gamemodes_server.txt.
#KeyValues Error: LoadFromBuffer: missing { in file gamemodes_server.txt
#
#GameTypes: missing mapgroupsSP entry for game type/mode (cust

[2014-02-08 15:39] kai07 opened #76 "ClientExec Support"
Sorry if this has been asked before, I searched through the closed issues but didn't find anything on the subject.

Are there plans for clientexec support, I can't imagine it would be too much different from the whmcs configuration here: https://github.com/devryan/GamePanelX-WHMCS

Thank you.

[2014-04-13 12:15] redraskal opened #78 "Not installing by downloading it"
When I put the files on and put in the correct information,
it says Error:
and there is a blank.

Can anybody fix this?

[2014-04-21 14:07] Demon1986 opened #79 "File edit for .res files"
by editing a couple of files, i thought i would be able to edit .res files (map ressource list for goldsrc engine)  but when clicking on the files, it brings me an error instead, and other files work perfectly (txt cfg etc..)

"Sorry, that game directory does not exist!"
idk how it cannot tell that this aint a directory, its a bloody file! anyway if anyone has some kind of clue, i'd be happy to tr

[2014-05-12 22:23] antoniobenedetti opened #82 "Minecraft server not restarting properly"
Using Craftbukkit 1.7.2, the server is not restarting properly. The panel is only starting the server and it is not checking if it is running. Further evidence:
![screenshot from 2014-05-13 001105](https://cloud.githubusercontent.com/assets/2389681/2951179/e876d5e2-da23-11e3-8568-8e53c3970da6.png)
The same server was started three times.

[2014-05-14 20:06] arian9222 opened #83 "Server Status Offline"
Im Using Remote Server
( i had to delete local server duo to create template bug)

I created SA:MP server using samp query and CS server using cs16, source query

server is working actualy but the status is offline...

i found tons of posts about that but no solutions!
please explain how to fix that if its fixable, tell me what informations you need ill give you its not problem i can give you ftp

[2014-05-18 21:08] linuxthefish opened #84 "Starting the server resets the server.cfg file!"
With GTA San Andreas Multiplayer, restarting the server resets any changes made in the server.cfg file.

[2014-06-04 23:01] devryan opened #85 "Changing Network Server IP does not move gameserver directories to new IP"
- Changing IP on a network server means servers with that old IP's FILESYSTEM folder is not updated (db is OK, _SERVERS/accounts/<usr>/<ip>:<port>/)

[2014-06-08 08:07] ameer1997 opened #86 "cs1.6"
me want ip cs1.6

[2014-06-14 13:31] MetalGovy opened #87 "Login Failed: Invalid login! Please try again."
Hello,

I installed the latest GitHub version of GamepanelX-V3 at my vps server.
Now the issue i'm having is this: When i logout and then want to login it gives me this error: Login Failed: Invalid login! Please try again.

The login details are correct i'm sure about that.

[2014-07-01 20:31] Xaldrosis opened #89 "Console text issue"
The console text has no new lines for each line. It's hard to read.

Could it be possible for each line to actually show up as a new line?

[2014-07-02 07:26] thryckz opened #90 "Template does not install."
I tried with all source games on the control panel. This is a fresh install of centos 6.
I tried HLDSUpdateTool and SteamCMD. The template says it's installing but its stuck at 0%.
I looked at steam.log (It said something about it being forked off pid) and after some editing, it says now:

2014) Starting SteamCMD install on dir (/var/www/html/cp//_SERVERS/tmp/6) for game (232250) ...
SteamCMDInsta

[2014-07-02 08:50] ghost opened #91 "GameQ?"
Is it possible to use this gpx in some form to get all the "protocols" as a server? Or am I just not understanding the concept of GameQ :)
Reason being is that I want to add a garrysmod server but I am reading mixed ways on preforming this task.

[2014-07-15 15:35] nesxdie opened #92 "Update scripts / SteamCMDFunctions: "Error! App '232330'"solution"
Sorry for my bad english:
When you start a template install of CS 1.6 or mod of half life with steamCMD happen this error:
 Error! App '232330' state is 0x10502 after update job.
The script execute  (90 it's for cs 1.6, it isn't more cstrike):
app_update 90 -validate
The script should execute:
app_update validate

Its in the 76 line.

[2014-07-21 21:06] #86 closed, assigned to nobody

[2014-07-21 21:09] #89 closed, assigned to nobody

[2014-07-21 21:18] #91 closed, assigned to nobody

[2014-07-21 21:20] #78 closed, assigned to nobody

[2014-07-21 23:58] fifi98 opened #94 "Minecraft console output - everything is in one line"
Minecraft console output is too messy. The output thing just reads the server log and puts it in one line.
So can you please make it that one line in the server log = one line in the panel console output?

It's very hard to read the console currently.

Thank you for the awesome panel and I hope you can fix the console output bug.
Regards!

[2014-07-25 23:27] Pehesi97 opened #95 "SA-MP Server doesn't work"
Hey!

I had problems installing SA-MP Server from Cloud Games 1 day ago and now it's fine.
Buuuuuuuut.
I've created a SA-MP Server on the Panel, set ALL the permissions on /usr/local/gpx to 777 and it still doesn't work.
I can't start, stop, whatever, the server.
Completing, the ServerLog shows its error message "output log doesn't exist".

My server is on Remote Installation and completely config

[2014-08-11 14:31] antoniobenedetti opened #96 "Dark theme buttons missing"
The buttons are missing in the dark theme. Using Firefox 30, Linux Mint 17 MATE. The modern and default theme buttons are fine.

[2014-08-17 20:17] Pehesi97 opened #97 "Error sed"
Hello everyone!

I'm getting this error when trying to install a server:

Failed: sed: -e expression #1, char 15: unterminated `s' command success

Can anyone help me?

[2014-08-18 15:45] Cipio1106 opened #98 "I can't create my gmod server."
Hi !

I try to install a Garry's Mod server on the panel but this does not run.

When I write the path to the .cfg file, that indicates the following error :
"Failed: Failed to open local config (/var/www/html/gamepanel//_SERVERS/accounts/Test/XX.XX.X.192: 27016 / gmod / garrysmod / cfg / server.cfg) for writing. "

Although the file is accessible and existing, the panel want not write on this.

C

[2014-08-18 21:19] antoniobenedetti opened #99 "User settings bug"
When a regular user saves the server's settings, the startup parameter will be deleted and so the user will not be able to restart the server. This has been tested and confirmed using Minecraft server with the latest github code.

[2014-08-20 18:14] antoniobenedetti opened #100 "Make GPX symlink friendly"
Since the hard drive is mounted at the /home directory and GPX uses /usr/local/gpx, i made a symlink. However i can make a template, create a game server, browse the game server files but i cannot start the server. I get game directory doesn't exist error. Please make GPX symlink directory friendly so i can use the /home directory. The symlink was created using the following command and i have ins

[2014-08-20 18:50] antoniobenedetti opened #101 "Failed:Success while creating a new user"
I get "Failed:Success" while creating a new user. The new user is fine, but why does it have to say failed?

[2014-08-22 22:15] antoniobenedetti opened #102 "Can't add new games to the panel (when using macedonian language)"
I get a blank page when i try to add new game to the list (Game Setups > Add).

I only experience this when my admin account is set to macedonian language, when i get back to english language everything works fine.

[2014-09-23 11:44] EveRize opened #103 "Steam Install idle - Minecraft New template Error"
Hello,

I get two issues on my GamePanelX installation :

First, when I'm trying to create steam template (CSGO, CSS, TF2), they are still blocked on "idle" status.

When looking to /usr/local/gpx/Steam_000.log (our steam_18.log, etc), log shows :

Redirecting stferr to '/home/gpxuser/Steam/logs/stderr.txt'
[0%] Checking for available updates...
[----] Verifying installation...
Steam console clien

[2014-10-14 10:38] GIANTCRAB opened #105 "Stop using md5 and sha1"
Hello, I skimped through the code very briefly and was shocked by the security of the software.

Hashing for the password is very weak, users are using md5 hash function through MySQL while admins are using PHP sha1 as the hash. Although the admin's password was salted, the salt was not an unique one for every installation.

Over the years, [sha1](https://www.schneier.com/blog/archives/2005/02/cry

[2014-10-23 19:08] sgtaziz opened #106 "CS:GO Library Paths"
CS:GO released an update a few months back that somehow breaks Library Path pointers in srcds_run. This only happens when a folder is written as the ip (I'm guessing it doesn't handle the : too well.) Here is what I was able to find so far:

When the directory name is changed from IP to just a simple name (ie, test), it will boot.
In the new srcds_run file, the one that fails, this exists: `export

[2014-10-29 21:52] devryan opened #107 "Yes, gamepanelx cloud is down"
I am aware that the gamepanelx cloud is down.  New templates will fail at the moment as they cannot fetch their tarballs from the gpx cloud.  Working on a fix right now.

[2014-10-29 23:07] #107 closed, assigned to devryan

[2014-10-30 17:51] ScaredDonut opened #108 "Problem installing templates?"
Hey,

I am trying to install a template but I am keep getting this error:

Failed: AutoInstall: Required settings were left out. Exiting.

Found nothing on Google.

Thanks for your time and help!

[2014-11-02 20:35] #108 closed, assigned to devryan

[2014-11-02 20:44] itsflashpoint opened #109 "Minor bug @SA-MP panel"
Hey,

there is a minor bug when you try to shut down the server on the SA-MP page.

When you press the STOP button it echos this error;

"Failed: RunCMD: No server ID given"

[2014-11-04 19:30] #97 closed, assigned to nobody

[2014-11-17 10:37] pree opened #110 "Steam CMD Login"
Hey,

when you Install  a game with steamcmd and login the return from SteamCMD is
   ...Logged in OK
but you try to parse
   ...Success
in SteamCMDFunctions

Greetings,
Schizopriest

[2015-01-01 14:55] GameNowDE opened #112 "Can't create template"
Hello,

as first sorry for my bad english.

I've installed gamepanelx on my Ubuntu vServer, everything runs perfect.
There is only one Problem:

I Can't create a GameServer, because I can't add a template. When I click Create Template, nothing happens. (IE, FF and Chrome)

Can you help me?

[2015-01-06 03:46] holyschytt commented on #87
Same here ... might want to go back to the discussion back in jan that stopped on the 17 the issue still stands..

[2015-01-28 18:14] fabiango86 commented on #106
How can i get a work around for this so i can make new users and adding cs go to them and it just starting fine?

[2015-02-02 18:20] hermanthe opened #114 "Error: success"
Hi,
i got a pretty weird Error when i click Install (Master).... It says "Error: success"

OS: Debian 7

Can anyone help?

http://imgur.com/9JEEUdP

UPDATE:

Got it, apache error log:

Undefined index: language in /var/www/gpx/install/install_actions.php on line 28

When i change the language, i got the "Error: success"-Error (changed it to German). If if don't change the language, it works

[2015-02-07 06:48] chandwer commented on #106
Currently experiencing this bug as well. What's the point of including the IP of the box in the path anyway? What happens of the server's IP changes?

[2015-03-01 17:17] Wonicc commented on #83
hmm I INSTALL GAMEPANELX in my vps  icreate template and install server but the status stay offline
and my server not started all of game

[2015-03-03 16:10] gbobr opened #115 "Create template from existing files: Blank browse dialog."
In a fresh gpx install,
When creating a template from an existing folder, the "browse" button pops up a blank dialog, even when a server is selected.

I did a little digging and found that the ajax request is sending:

http://my.gpx.com/ajax/ajax.php?a=file_load_dir&browsetpl=1&reset=1&id=undefined

Instead of:

http://my.gpx.com/ajax/ajax.php?a=file_load_dir&browsetpl=1&reset=1&id=1

[2015-03-08 12:24] #98 closed

[2015-03-11 15:25] gbobr commented on #73
I can confirm this bug is still happening in latest versions of GPX

[2015-03-12 18:08] sgtaziz commented on #106
The file changes when the IP does. It's handy for quickly finding the server you want.

[2015-04-02 03:01] KillaSeven opened #116 "Cant find the LD Library Path"
I'm getting this error here:

./srcds_run: 32: ./srcds_run: pushd: not found ./srcds_run: 35: ./srcds_run: popd: not found Server will auto-restart if there is a crash. LD_LIBRARY_PATH=/var/www/vhosts/killer7.de/httpdocs/GamePanelX-V3-master/_SERVER S/accounts/example/178.254.20.158:27015/740/bin:/var/www/vhosts/killer7.de/httpd ocs/GamePanelX-V3-master/_SERVERS/accounts/example/178.254.20.158:270

[2015-04-03 13:00] lifehome commented on #105
Having a lookback to 2014, here we are in 2015 someday, and yet this issue is not fixed?
What a joke.

[2015-04-11 02:59] kmgilbert100 commented on #105
Well said

[2015-04-11 04:49] devryan commented on #105
While I have been so busy I haven't had time to update in a while, I admit
there are security issues present.  However keep in mind this is an open
source project, and people can commit fixes to the code if there are issues.

Have those addressing the issues contributed fixes for them?  Just curious,
because if you're not willing to write code, but you're willing to complain
about a free project w

[2015-04-11 12:08] originalwhitestar opened #117 "blah/tmp/2/steamcmd No such file or directory"
I get this error when installing a source game(gmod):
./steamcmd.sh: line 29: /var/www/gamepanelx/_SERVERS/tmp/2/linux32/steamcmd: No such file or directory
but I see steamcmd per ftp & putty, whats wrong? its not a directory though, its a file without a ending.
the admin section shows Steam install: 0%, wont go further?

[2015-04-29 21:49] breansdxtr opened #118 "The server does not turn"
The server does not turn even when I press start showing me a success message, but the server remains off

[2015-04-29 21:52] Cipio1106 commented on #118
Hello,

What is the server ?
Did you check if the template is correctly configured ?

[2015-04-29 21:53] breansdxtr commented on #118
Hello friend indeed if I followed a video tutorial for configuring everything as is and still gives me the error

[2015-04-29 21:58] Cipio1106 commented on #118
But what is the server ? A gmod server ? A minecraft server ? A ts3 server ?

[2015-04-29 21:58] breansdxtr commented on #118
It is a counter strike server

[2015-04-29 22:01] Cipio1106 commented on #118
I help you tomorrow. I have to go

[2015-04-29 22:03] breansdxtr commented on #118
I really need help urgently, I am creating a company to sell servers counter strike

[2015-04-29 22:23] breansdxtr commented on #118
I have solved the problem, thank you very much.

[2015-04-30 02:26] breansdxtr opened #119 "hostname not complete"
I am having a problem when I create a new counter striker server hostname not complete sample also want to display a custom message Game my business

[2015-04-30 03:05] #118 closed

[2015-04-30 03:12] breansdxtr commented on #119
I got the problem, placing the hostname from the panel does not correctly displayed in the file server.cfg without quotation marks and should appear this way "sample hostname" can someone help me solve this problem?

[2015-04-30 17:51] Cipio1106 commented on #119
I had the same problem.
My solution : Copy and paste into the "server.cfg" file a basic configuration from https://support.steampowered.com/downloads/5386-HMJI-5162/cs_server_cfg_file.cfg

And restart the apache web server & the game server to apply.

[2015-04-30 20:05] breansdxtr commented on #119
I've solved the problem

[2015-04-30 21:52] Cipio1106 commented on #119
So close the issue ^_^

[2015-05-10 09:05] allinonemovie opened #120 "Issues with steam games"
I can´t install templates of steam games. Every time the status changes from "Steam Running" to "Steam Install 0%" and stucks at 0%. Here are some logs:

_SERVERS/logs/steam.log:
[code]
_SERVERS/tmp/steam_6.log:
[code]
Do you need more log files?

Sorry for my bad english ;)

[2015-05-18 23:58] devryan commented on #120
There are a few posts about this, but I cannot reproduce.

What os is this? Any other software/control panels installed?  Any custom apache,php plugins/modules that are running?  What about selinux, is it running?

[2015-05-18 23:58] #119 closed

[2015-05-21 07:53] geryke1 opened #121 "Check the "docroot" value in /configuration.php"
Hi,
Can anyone help?
![bug](https://cloud.githubusercontent.com/assets/12541461/7743884/1a4a7104-ff9f-11e4-8e9f-d0cdd38a9ccc.PNG)

i get this error when i click all servers

[2015-06-14 21:51] AldemaroC commented on #116
It's happening because there is a ":" in the directory (178.254.20.158->:<-27015). I solved it changing all scripts to put a dot instead. This way, the server would start as it should.

[2015-06-14 21:51] AldemaroC commented on #116
Any guide on how to use github? I'll try to fix some bugs on gpx

[2015-06-26 12:35] erfg12 opened #122 "Made new game, server.cfg keeps erasing"
My server.cfg file keeps getting erased or blanked out. Why would that be?

[2015-07-20 20:04] baxandrei opened #123 "Problems on install with some variables."
Error:
Notice: Undefined index: language in C:\Users\Andrei\Dropbox\!HTTP\!gamecp\install\install_actions.php on line 28

Warning: touch(): Unable to create file /tmp/gpxinstalltmp.txt because No such file or directory in C:\Users\Andrei\Dropbox\!HTTP\!gamecp\install\install_actions.php on line 64

Fatal error: Call to undefined function posix_getpwuid() in C:\Users\Andrei\Dropbox\!HTTP\!gamecp\in

[2015-07-31 15:20] baxandrei commented on #123
I don`t need support anymore...

[2015-07-31 17:43] devryan commented on #123
This is a Linux control panel -- installing on windows will definitely not work.

[2015-07-31 17:43] #123 closed

[2015-08-03 20:48] BAILANDO opened #124 "Problem with CS:GO in GamePanelX"
Hello, i have big problem with csgo start server on GamePanelX onUbuntu 14.04 LTS. When i start CSGO server, then i see error :

./srcds_run: 32: ./srcds_run: pushd: not found ./srcds_run: 35: ./srcds_run: popd: not found Server will auto-restart if there is a crash. LD_LIBRARY_PATH=/var/www/html/cp/_SERVERS/accounts/csgo/XXXXXXX:27016/740/ bin:/var/www/html/cp/_SERVERS/accounts/csgo/XXXXXXX:27016

[2015-08-03 21:07] gOOvER commented on #124
I Think GamePanelX is Dead. Since Nov 2014 no commit ;)

Try Easy-WI

https://easy-wi.com/

[2015-08-10 14:42] MineZen1 opened #125 "FTP not workin"
I installed proftpd on the server and gamepanelx and it is not connecting to any account, is there any help?

[2015-08-10 14:57] gOOvER commented on #125
Use Easy-WI.... It seem's GPX is dead....

https://easy-wi.com/de/

[2015-08-11 12:27] MineZen1 commented on #125
easywi ftp doesnt work neither and it got problems too when I asked for help, no one answered me

[2015-08-11 14:39] devryan commented on #125
The ftp server is built in. When you run the installer, it asks if you want
to install the ftp server.
On Aug 11, 2015 5:27 AM, "MineZen1" <notifications@github.com> wrote:

[2015-08-12 16:42] ElPresidentePro opened #126 "Teamspeak 3?"
I'd like ts3 host, does anyone know?

[2015-08-12 18:29] ElPresidentePro commented on #126
https://www.youtube.com/watch?v=33kYnU8DK8Y

[2015-08-12 18:29] ElPresidentePro commented on #126
i use ubuntu server but not work

[2015-08-13 09:25] MineZen1 commented on #125
I installed it @devryan but still it didnt work

[2015-08-13 18:41] devryan commented on #125
What's not working about it?  When you try to connect to your game server
on port 21 via an ftp client  what happens?
On Aug 13, 2015 2:25 AM, "MineZen1" <notifications@github.com> wrote:

[2015-08-15 15:08] MineZen1 commented on #125
tells me wrong password and then disconnects

[2015-10-08 16:19] andrepaandrea opened #127 "Failed to open local config for writing"
Everytime I try to start the server I get this:
Failed: Failed to open local config (/var/www/html/Web-I//_SERVERS/accounts/PublicServer/xxx.xxx.xxx.xx:27015/740/csgo/cfg/server.cfg) for writing.

[2015-10-14 13:34] HybridFox commented on #120
I'm having the same issue. i'm on ubuntu 14.04 clean fresh install.
When i check the steam log i see this

`SteamCMDInstall: (Wed Oct 14 08:59:19 EDT 2015) SteamCMD is authed and ready, starting game 740 update ...
SteamCMDInstall: (Wed Oct 14 08:59:19 EDT 2015) Game installation began on PID (7782)
SteamCMDInstall: (Wed Oct 14 08:59:19 EDT 2015) While loop forked off to PID (7786)`

[2015-10-20 21:37] hacktrix2006 opened #128 "Unable to run Battlefield 2 Server With Gamepanel"
So i have done two tests here.

After Creating the template for BF2 i made a user and for the sake of this we will call it user101. This completes and i create a server for BF2 which downloads and extract just as it should on the remote box.

Now in the folder on remote /usr/local/gpx/users/user101/<ip address>/ all the files are there however running ./start.sh see's the error about unable to acc

[2015-10-21 05:41] siasur commented on #128
Hey, could you please attach the start.sh file? Oh and could you send the full path of both directories (path to start.sh on user 101 and path to start.sh on user 102)

[2015-10-21 10:16] hacktrix2006 commented on #128
Full path on user101

/usr/local/gpx/users/user101

Full path on user102 via adduser command in ssh

/home/user102

The ./start.sh has just

#! /bin/sh

MACH=""
# 64-bit FreeBSD is "amd64"; emulates 32-bit Linux.
case `uname -m` in
	i[3456]86 | amd64) MACH="ia-32"
	;;
	x86_64) MACH="amd-64"
	;;
esac

if ! [ -d pb ]
then
	ln -s pb_$MACH pb
fi

BINARY_DIR="$(pwd)/bin"
if [ -d "$BINARY_DIR/$MACH" ]
t

[2015-10-21 10:31] siasur commented on #128
Thanks for the reply.
Are this really the full pathes to the `start.sh`? If you use gpx your path should be something like `/usr/local/gpx/users/user/127.0.0.1:1337` that's why I asked for the full path __of the start.sh file__.

And in addition, the startscript is very hard to read thanks to markdown, that's why I asked you to attach it.

If you have a path like in my example i already found you

[2015-10-21 10:40] hacktrix2006 commented on #128
/usr/local/gpx/users/user101/<ip>:<port>

the user102 was a test user.

So how does one fix the issue

Sorry about the markdown i haven't used github before so here a link to the file http://www.ultrahostinguk.co.uk/start.sh

Thanks for your time

[2015-10-21 11:04] siasur commented on #128
Wait for my fix in the GamePanelX-V3-Remote Repo. I have to test it today and if it's merged your problem will be solved (after a update)

[2015-10-21 11:07] hacktrix2006 commented on #128
Thank you

[2015-10-21 14:17] hacktrix2006 commented on #128
Looked at your changed and notice that it will work but the WebGUI on the master will not get access to the FTP tab just a heads up. Also the changes will need to go into the Master repo as well for the same files that you edited.

[2015-10-21 15:15] siasur commented on #128
Thanks for pointing out that. It's so obvious, that i missed it completely.
I'll finish the reinstall of my homeserver, apply the changes to the WebGUI and then test it.

So... it's possible that my changes won't be merged today.

[2015-10-21 15:20] hacktrix2006 commented on #128
No problem bud, as confirmed i pulled your branch which was two commits ahead for the remote and the BF2 server is running great but although the User's FTP  works through an FTP client so long as you place gpx infront for example gpxuser101. But the WebGUI's panel is just a white box but other then that its working great on my Hyper-V server. Nice work on the fix too.

[2015-10-21 15:30] siasur commented on #128
So basically you are saying that my fix is partial working?
That's nice to hear! :)

maybe you could add a comment with your positive feedback to my pull request (but include the information that the WebGUI needs changes too)

[2015-10-21 15:34] hacktrix2006 commented on #128
Yep it is working like a champ i.e you can start and stop the server without issues. The user is now FTP Clientable to upload files and download files. The BF2 Query still shows the server offline though and the FTP in the GUI doesn't work. I have also noticed that the settings for BF2 do not work i had to manually change the serversettings.con file etc no big but over all its getting there.

[2015-10-21 15:35] hacktrix2006 commented on #128
Closed it by mistake!

[2015-10-21 15:35] siasur commented on #128
reopen it ^^

[2015-10-21 15:36] hacktrix2006 commented on #128
ah i see it!

[2015-10-30 09:27] Dwingo commented on #120
On my server (Debian 8) the Control Panel shows Status: Installing ... for hours now. But i can start and connect to the installed gameserver
![2015-10-30 10_06_37-admin _ gamepanelx](https://cloud.githubusercontent.com/assets/3104685/10842263/c551ba0a-7ef0-11e5-9c2e-c52b8126443e.png)
.

[2015-11-03 16:47] matamata4 opened #129 "Failed to open libtier0.so"
Hello dear git fellows,

I am experiencing the following issue when trying to start a gameserver(Fresh install of gpx and steam on a fresh debian 8.2 installation)

"./srcds_run: 32: ./srcds_run: pushd: not found ./srcds_run: 35: ./srcds_run: popd: not found Server will auto-restart if there is a crash. LD_LIBRARY_PATH=/var/www/html/_SERVERS/accounts/test/5.135.83.95:27016/740/bin:/ var/www/html/_

[2015-11-03 21:53] siasur commented on #129
The Problem is the name of the folder where the servers are located. the path contains a colon ( : )
The  srcds_run scrip sets the LD_LIBRARY_PATH to the path of it self.

LD_LIBRARY_PATH uses colons to seperate multiple pathes.

This Line from the srcds_run
``LD_LIBRARY_PATH=/var/www/html/_SERVERS/accounts/test/5.135.83.95:27016/740/bin:/ var/www/html/_SERVERS/accounts/test/5.135.83.95:27016/740:

[2015-11-11 03:11] devryan commented on #124
This has been fixed on the ip_port_fix branch.  We need people to test it:

https://github.com/devryan/GamePanelX-V3/tree/ip_port_fix

[2015-11-11 03:13] devryan commented on #128
Hi!  What's the status of this, what pull request is this @siasur ?

[2015-11-11 03:15] devryan commented on #129
This is fixed on the ip_port_fix branch of the master server:

https://github.com/devryan/GamePanelX-V3/tree/ip_port_fix

Please test it and let me know.

[2015-11-11 03:16] devryan commented on #127
Does the file actually exist?  What are your permissions on that directory, can you "ls -l" the _SERVERS directory?

[2015-11-11 03:17] #126 closed

[2015-11-11 03:18] devryan commented on #125
@MineZen1, on your server do a "sudo netstat -anp | grep ftp" and show the output here.  Sounds like maybe another FTP server is running.

[2015-11-11 03:19] devryan commented on #122
Sorry for the late reply.  What game, CS?

[2015-11-11 03:20] devryan commented on #121
This means your docroot in configuration.php is wrong.  Did you move your gamepanelx install folder to a new name maybe?  Open the configuration.php file and check the path that is set there, make sure it is a real path to your gamepanelx install.

[2015-11-11 03:20] #121 closed

[2015-11-11 03:28] devryan commented on #120
What else is installed on your Debian os? Any other control panels?  Any security web modules installed?

Note that there is a callback that happens, after your server finishes installing, it does a wget back to your master URL.  I would do a "ps -ef | grep CreateServer" and show the output here if you get anything back.

[2015-11-11 03:29] devryan commented on #117
Do you still have this problem?  If so, what OS, and any other control panels installed?

[2015-11-11 03:30] #109 closed

[2015-11-11 10:44] hacktrix2006 commented on #128
This issue with fixed with the colonfix which has since been merged in the dev branch i think

[2015-11-11 17:35] siasur commented on #128
Yep ^^
@devryan already merged it into the dev branch

[2015-11-11 17:43] hacktrix2006 commented on #128
Rebuilding my Hyper-V images to use Dev branch tonight so that i can help/test fixes.

[2015-11-11 18:11] devryan commented on #128
@hacktrix2006 see the ip_port_fix branch in the master, it has the fixes
there too for the complete solution. If you want to test them together that
would be the proper way. I've tested myself and it's working great for
csgo.
On Nov 11, 2015 9:43 AM, "hacktrix2006" <notifications@github.com> wrote:

[2015-11-13 12:47] matamata4 commented on #129
@devryan After a clean install and a new git clone from the whole repo it's still not working.

Same issue, failed to open libtier0.so ...

"LD_LIBRARY_PATH=/var/www/html/_SERVERS/accounts/example/5.135.83.95:27020/740/bin:/var/www/html/_SERVERS/accounts/example/5.135.83.95:27020/740:/var/www/html/_SERVERS/accounts/example/5.135.83.95:27020/740/bin: Failed to open libtier0.so (libtier0.so: cannot

[2015-11-13 14:56] devryan commented on #129
What branches did you clone?  The fix is not in the master branch yet.
On Nov 13, 2015 4:47 AM, "matamata4" <notifications@github.com> wrote:

[2015-11-15 19:29] Dwingo commented on #120
Thanks for your answer.
I think the problem is, that the GPX callback is a http url request but my server uses https. Is it possible to set https in the config?

[2015-11-16 07:16] zharding commented on #129
Hey Ryan,

This doe not appear to have fixed the issue with current installs such as currently installed CS:GO servers. I attempted to start the server before reinstalling it, no luck. Still no luck after a reinstall. Same issue.

|| ERROR ||

LD_LIBRARY_PATH=/var/www/html/_SERVERS/accounts/marketing/216.144.246.227:27020/740/bin:/var/www/html/_SERVERS/accounts/marketing/216.144.246.227:27020/740:

[2015-11-16 07:28] siasur commented on #129
Are you sure that you are testing the correct branch(es)?

If you are just using ``GamePanel X`` you need the branch named "*ip_port_fix*".
If you are using ``GamePanel X Remote`` in addition you'll still need the "*ip_port_fix*" from ``GamePanel X`` and from the ``GamePanel X Remote`` you'll need the "*dev*" branch

[2015-11-16 07:54] zharding commented on #129
Hey there,

I have updated both. Same error.

[2015-11-16 08:07] zharding commented on #129
Alrighty,

Implemented the correct branch. Now I am getting weird start issues. So, I uninstalled the cs:go instance and reinstalled it. However, it is still displayed as offline. The console out appears to be running. I cannot connect to it, so I am sure there is something wonky somewhere.

[2015-11-16 08:11] zharding commented on #129
Ok, it was a port issue. It did not like using something other than 2015.

[2015-11-16 14:27] siasur commented on #129
Could you please check if the port is already bound by another service?

[2015-11-18 13:13] siasur opened #130 "Support for "Steam account token""
[code]

While I tested the ip-port-fix today, I notcied this message when starting the gameserver.
Valve is removing anonymous gameserver accounts soon. You'll then have to provide a Steam account token when starting a server. Game Panel X should be capable to hold and provide these tokens.
*********
To get a Steam account token you'll have to create a gameserver account.
These Accounts can be cre

[2015-11-18 15:04] siasur commented on #130
Addition
===

It's currently possible to provide such a key if you add ``+sv_setsteamaccount <login_token>`` to the command line arguments. But a dedicated option in the webgui (and password like storage in the database) would be better in my opinion.

@devryan Could you please add the "enchant"-label?

[2015-12-02 12:20] Flegma commented on #124
Still not working.
I installed ip_port_fix branch but when i try to start the server from panel it does not start.
When i try to start the server from command line, it works.

[2015-12-02 17:09] siasur commented on #124
Are you sure that you are testing the correct branch(es)?

If you are just using ``GamePanel X`` you need the branch named "*ip_port_fix*".
If you are using ``GamePanel X Remote`` in addition you'll still need the "*ip_port_fix*" from ``GamePanel X`` and from the ``GamePanel X Remote`` you'll need the "*dev*" branch

[2015-12-02 17:31] Flegma commented on #124
Yes i chose 'ip_port_fix' for GamePanel X and the 'dev' branch for GamePanel X Remote.
(https://github.com/devryan/GamePanelX-V3-Remote/tree/dev and https://github.com/devryan/GamePanelX-V3/tree/ip_port_fix)
I did new installation of the "ip_port_fix" and new installation of "dev" for remote.
Server template is created and servers are created with "ip.port" (instead of ip:port) but when i start th

[2015-12-03 06:16] devryan commented on #124
Ok, can you "ps -ef | grep srcds" on your server? Sounds like another server is running or your startup parameteres are wrong on your server you are creating.  Check out the startup params in the master control panel that it's going to use, does everything look correct?

I'd be curious to have you join IRC and present your desktop to see this, as I've confirmed my own servers are working great wit

[2015-12-03 08:58] Flegma commented on #124
Its working now. I tested it again.
The problem was that the Remote Server was outdated and CSF was blocking port 27015 (or any other i used) on a Master Server, so the csgo remote server was running but it was not shown in a Master Server's panel.

[2015-12-03 17:18] Flegma commented on #124
Another problem - when saving server information like maxplayers and stuff, it reverts rcon_password to just rcon, so the rcon is not working anymore.

[2016-01-02 02:28] devryan commented on #129
This has been fixed and merged into the master branch of both master and remote.

https://github.com/devryan/GamePanelX-V3/commit/29554eb7ed86c81e7fb4a919d4f37ebf5b39c27f

[2016-01-02 02:30] devryan commented on #129
If you run the new code over from 3.0.11 to 3.0.12 make sure to visit your gpx.com/gpx/install to have it update your install.  Same for Remote upgrade, make sure to run update.sh.

[2016-01-02 02:30] #129 closed

[2016-01-02 02:32] devryan commented on #128
This has been fixed, see latest commits on master branch of master+remote.  https://github.com/devryan/GamePanelX-V3/commit/29554eb7ed86c81e7fb4a919d4f37ebf5b39c27f

[2016-01-02 02:32] #128 closed

[2016-01-02 02:32] #125 closed

[2016-01-02 02:32] devryan commented on #124
This has been fixed, see latest commits on master branch of master+remote.  https://github.com/devryan/GamePanelX-V3/commit/29554eb7ed86c81e7fb4a919d4f37ebf5b39c27f

[2016-01-02 02:32] #124 closed

[2016-01-02 02:35] devryan commented on #120
AHA!  Yep, you're right.  That's a bug.  It shouldn't assume http.  Will get this fixed up.

[2016-01-02 02:41] devryan commented on #120
Hey @Dwingo -- I've added in a fix to this in a new branch called 'https_fix', can you check this branch out on the master (after updating to the latest 3.0.12 I pushed out tonight finally), and give it a try?  It should do callbacks over HTTPS now and things should work more normally.

[2016-01-02 02:42] #117 closed

[2016-01-02 02:43] devryan commented on #116
This has been fixed, see latest commits on master branch of master+remote.  https://github.com/devryan/GamePanelX-V3/commit/29554eb7ed86c81e7fb4a919d4f37ebf5b39c27f

[2016-01-02 02:43] #116 closed

[2016-01-02 02:43] devryan commented on #115
If you refresh the page a couple times, does the problem fix itself?  Sounds like a conflicting javascript variable that needs to be fixed

[2016-01-02 02:45] devryan commented on #114
What browser?  Can you try the very latest 3.0.12 master version, and make sure your webserver user owns the gpx dir completely in your webserver root?

[2016-01-02 02:45] devryan commented on #112
What are your webserver directory's permissions set to?

[2016-01-02 02:46] devryan commented on #110
?  And what happens, the install fails?

[2016-01-02 02:47] devryan commented on #103
The Steam games issue has been fixed, see latest commits on master branch of master+remote.  https://github.com/devryan/GamePanelX-V3/commit/29554eb7ed86c81e7fb4a919d4f37ebf5b39c27f

For your minecraft error, can you look at your webserver error log to see what the php error is?  Do you have any security plugins enabled on your webserver, or is exec() function disabled?

[2016-01-02 02:48] #100 closed

[2016-01-02 02:49] #92 closed

[2016-01-02 02:50] #90 closed

[2016-01-02 02:51] devryan commented on #75
This has been fixed, it should be related to the other steam issues - see latest commits on master branch of master+remote.  https://github.com/devryan/GamePanelX-V3/commit/29554eb7ed86c81e7fb4a919d4f37ebf5b39c27f

[2016-01-02 02:51] #75 closed

[2016-01-02 02:51] Schizopriest commented on #110
It was just waiting for the Install to finish, but never finished i think (idk exactly, its over an year ago)

[2016-01-02 04:01] devryan commented on #110
Gotcha.  Well give it a shot again, tonight the codebase was updated to 3.0.12 to fix a problem that's been plaguing steam-based games.

[2016-01-02 20:40] devryan commented on #115
Ok @gbobr - This should be fixed.  Fixed a bug as well as added an error message that is more specific.  Since if it could not login to your remote server, it would just show a blank page.  Now it will show you the actual error.  https://github.com/devryan/GamePanelX-V3/commit/475955965f6d6181512e8ec937acac536b3a47f6

[2016-01-02 21:46] devryan commented on #115
Sorry, this fix https://github.com/devryan/GamePanelX-V3/commit/39feefe2436a769a09fecb4a6c64c65409dad020 is the actual completed fix :+1:

[2016-01-02 21:46] #115 closed

[2016-01-10 16:12] fritz-net commented on #89
bug still there, if i open log file there are new lines
tested under linux mint xD only local with master build

[2016-01-11 01:06] fritz-net opened #131 "Steam files are downloaded on update for non steam game"
If I press update on a server I see in that the steam files are added and I'm not sure if the update is done ( the update is an .sh file which I think is not run)

in the ./includes/classes/servers.php on line 248 is checked if its a steam game or not so I'm not sure if its an panel or remote bug. both are ubuntu14.04 server

EDIT1:
the remote steam.log:
     SteamCMDInstall: (Mo 11. Jan 02:08:07

[2016-01-18 13:41] cpt-fred opened #134 "New Game Server Status"
Hello,

I started to use gamepanelx and it works fine!
Otherwise i have some issues with the function "server status"!

I would like to know, how the "server status" is updated! Because i have build a own template of arma3 with ports and the process arma3server, but it always appears as offline! But the server is running good and players can join.

The problem is that in the web interface the serv

[2016-01-19 16:01] Zortex04 opened #135 "Currently down for maintenance. Please try again soon."
Title says it all when i go on the website "localhost" it does "Currently down for maintenance. Please try again soon."

[2016-01-19 16:26] #135 closed

[2016-01-19 17:03] Zortex04 opened #136 "Error: error, Not Found"
Title Says it all under localhost/install when i click install

[2016-01-19 17:06] #136 closed

[2016-01-19 17:09] Zortex04 opened #137 "Install Error"
When pressing install in Websitename/install it comes up with this error
Error:
Notice: Undefined index: language in D:\Programs\Xampp\htdocs\install\install_actions.php on line 28

Warning: touch(): Unable to create file /tmp/gpxinstalltmp.txt because No such file or directory in D:\Programs\Xampp\htdocs\install\install_actions.php on line 64

Fatal error: Call to undefined function posix_getpwui

[2016-01-19 18:01] devryan commented on #137
This control panel is not for Windows.
On Jan 19, 2016 9:09 AM, "Zortex04" <notifications@github.com> wrote:

[2016-01-19 18:26] Zortex04 commented on #137
ah thats why :+1:  Thats for saying t hat

[2016-01-22 17:12] slgfire commented on #120
i have the same problem. my steam.log is the same and de callback link is right.
what can i do?

[2016-01-26 18:30] slgfire opened #139 "Teamspeak 3 Status Offline"
hello,
when i install a ts3 server and start it than the status is offline bit the server is online and i can connect.
whats the problem? squery engine issues?

[2016-02-01 14:15] #139 closed

[2016-03-09 10:36] silohosting commented on #37
Please help me to install gamepanelx on VPS to be able to create servers.

[2016-03-11 07:36] #137 closed

[2016-04-06 00:43] sheldor091 commented on #120
I have the same Problem. I will give you acces to my server so you can fix it if you want. then you know the problem :)

SteamCMDInstall: (Wed Apr  6 02:34:24 CEST 2016) Starting SteamCMD install on dir (/var/www/html/x030390//_SERVERS/tmp/1) for game (740) ...
SteamCMDInstall: (Wed Apr  6 02:34:24 CEST 2016) Downloading steamcmd_linux.tar.gz ...
SteamCMDInstall: (Wed Apr  6 02:34:25 CEST 2016) St

[2016-04-06 00:50] sheldor091 commented on #120
But i think its a steamcmd problem. i tried install other gamepanel. When i installed thze steam cmd manually it doesn´t create files on my server.

[2016-04-07 12:22] sheldor091 commented on #120
This is the problem ithink:
SteamInstall: (Thu Apr  7 14:07:28 CEST 2016) Downloading hldsupdatetool.bin ...
SteamInstall: (Thu Apr  7 14:07:30 CEST 2016)  Running hldsupdatetool.bin ...
SteamInstall: (Thu Apr  7 14:07:30 CEST 2016) Failed to extract Steam client:
SteamInstall: (Thu Apr  7 14:07:55 CEST 2016) Downloading hldsupdatetool.bin ...
SteamInstall: (Thu Apr  7 14:07:57 CEST 2016)  Running

[2016-04-08 08:43] domino1281 opened #140 "Steam Install 0% STOP"
Hi , I'm Dominik I have a problem. Sorry Bad English :dancer:

'm waiting just 10 minutes and nothing . Please Help !! :(

Folder Logs
File steam.txt

SteamCMDInstall: (Fri Apr  8 10:37:26 CEST 2016) Starting SteamCMD install on dir (/var/www/panel//_SERVERS/tmp/34) for game (232250) ...
SteamCMDInstall: (Fri Apr  8 10:37:26 CEST 2016) Downloading steamcmd_linux.tar.gz ...
SteamCMDInstall: (Fri Ap

[2016-04-20 12:02] spot88 commented on #105
Keep it up @devryan , @lifehome since you got alot of time, you can contribute and help fix the problem.

[2016-04-30 21:19] jonas9105 opened #141 "install 0%"
Hi, Jonas here!

I installed GamePanelX
I want a CS:GO Server....
I made a Template for my CS:GO Server...
It said: Steam_Running
*Refrshing some times*
At least it says: install 0% and never moving or something?

STEAM.log

SteamCMDInstall: (Sat Apr 30 20:50:16 UTC 2016) Starting SteamCMD install on dir (/var/www/html/GamePanelX-V3-master//_SERVERS/tmp/3) for game (740) ...
SteamCMDInstall: (Sat

[2016-05-01 06:23] gOOvER commented on #141
gpx is not maintained.

Try Easy-WI:   https://easy-wi.com/

[2016-05-01 06:23] gOOvER commented on #140
https://easy-wi.com/

[2016-05-01 06:25] gOOvER commented on #131
GamePanelx is not longer Maintained.

Try Easy-WI -> https://easy-wi.com/

[2016-05-01 06:26] gOOvER commented on #130
GamePanelx is not longer Maintained.

Try Easy-WI -> https://easy-wi.com/

[2016-05-08 15:07] Zortex04 opened #142 "Account Issue"
recently i installed gamepanelx on my ubuntu pc Btw this is second try cause this happend first time too

After installing after setting up database
after deleting install
it says login failed when i login with the account i setup in the installing part, this is second time this happend I myself dont know whats wrong please help

[2016-05-09 07:40] siasur commented on #142
Try it again with a password that only uses a-Z and 0-9

[2016-05-18 19:39] Roxxas opened #143 "Creating a TeamSpeak3 TEMPLATE server"
Hello ! I was trying to make a template for the teamspeak3 server and then It said https://gyazo.com/5b3e00e7d559a1e25b2f06919d79e039

Can you guys help me ?

[2016-06-21 19:37] Dwingo commented on #120
Thanks @devryan this version works now. I have just testet with a murmur server. The installation works and i can start / stop the murmur server. But the panel shows still "installing". I changed the status in the mysqldb and now everything with murmur is working. I'll test it with steam after my vacations.
![2016-06-21 21_26_42-admin _ gamepanelx](https://cloud.githubusercontent.com/assets/310468

[2016-07-03 16:54] mlaraibyameen commented on #143
Roxxas follow this link for successful setup of Team Speak 3 Server.

https://www.youtube.com/watch?v=33kYnU8DK8Y

[2016-07-03 17:00] mlaraibyameen commented on #142
when you install GamePanelX the form requires you to enter Admin user and password, after successful installation and deleting install directory, there are 2 Login Forms,
1: http://your-server-ip-or-host/     (for user login)
2: http://your-server-ip-or-host/admin/     (for admin login)

the username and password that you enter while installing GamePanelX will work only in Admin Login Area, and th

[2016-07-03 17:10] mlaraibyameen commented on #141
I don't know why this happen but here is what you can do to create server template.

Suppose you want to create a template for Counter Strike 1.6 and you installation directory is /var/www/html/

1: create directory "cs16" in /var/www/html
2: put steamcmd in cs16 directory and download game in same directory
3: now create a game template and set "File Path" to "/var/www/html/cs16" and hit enter.
4

[2016-07-03 17:10] mlaraibyameen commented on #140
I don't know why this happen but here is what you can do to create server template.

Suppose you want to create a template for Counter Strike 1.6 and you installation directory is /var/www/html/

1: create directory "cs16" in /var/www/html
2: put steamcmd in cs16 directory and download game in same directory
3: now create a game template and set "File Path" to "/var/www/html/cs16" and hit enter.
4

[2016-07-03 17:14] mlaraibyameen commented on #134
Dear Fred,

Game Panels use source engine to identify current status of servers.

Kindly set "Query Engine" to arma3 or if arma3 is not on the list select the similar or look alike game's engine. and status will started to work.

[2016-07-03 17:16] mlaraibyameen commented on #127
change the ownership of file to www-data or apache, and if the file doesn't exist create an empty file and do the same.

[2016-07-03 17:18] mlaraibyameen commented on #122
change the file permission to read-only.

[2016-07-22 00:01] holyschytt opened #144 "New update for gameQ"
Hopefully fixes the false positive of the offline and online and Another concern is when you turn on one server and it starts successful not errors and then start another .. the section that shows you the Hostname well it shows it butt shows it on every other server aswell But not showing there own servername Any fixes? Or tell me where to look ill fix it myself

[2016-07-30 17:42] TekkitCommando opened #145 "Requesting Takeover of Project"
Hello @devryan my team and I at Byte Powered (there are 4 of us) would like to take over this project as well as the WHMCS plugin that you have made for it. We understand you would like to interview us on our skills in php/bash and different operating systems. We can talk to you over skype if that is good for you.

My Skype ID: ethan.smith184

My GitHub: https://github.com/TekkitCommando <-- PHP D

[2016-07-30 18:05] TheDiamondYT1 commented on #145
:+1:

Hope we get permission to takeover

[2016-08-04 23:52] devryan commented on #145
Hmm.  Shoot me an email at rdgehrig at gmail, let's talk about it privately

[2016-08-05 00:59] TekkitCommando commented on #145
@devryan Thank you! I have sent you an email :)

[2016-08-07 18:13] devryan commented on #144
Did you want to contribute a new update and import from gameq?  Not sure what this is about

[2016-08-07 18:13] #143 closed

[2016-08-07 18:13] #142 closed

[2016-08-07 18:15] devryan commented on #141
Also, it complained a million times about not having Gnu Screen, try installing that, it works much better when it can use it

[2016-08-07 18:15] #141 closed

[2016-08-07 18:15] devryan commented on #140
No reply after, closing

[2016-08-07 18:15] #140 closed

[2016-08-07 18:16] devryan commented on #134
No reply after, closing

[2016-08-07 18:16] #134 closed

[2016-08-07 18:16] devryan commented on #127
No reply after, closing

[2016-08-07 18:16] #127 closed

[2016-08-07 18:20] devryan commented on #131
I've merged your fix

[2016-08-07 18:20] #131 closed

[2016-08-07 18:24] devryan commented on #114
No reply after, closing

[2016-08-07 18:24] #114 closed

[2016-08-07 18:24] #120 closed

[2016-08-08 07:57] holyschytt commented on #144
I will yes but not yet .. trying to get somethings adjusted and i have some games that will be submitted to the gpx cloud but i rather the devs fix the servers online and offline info as its showing 1 servers info on all the servers but the Restart PID: 7880, Server PID: 7887, Child PID: 7902

[2016-08-11 03:39] shqipepp commented on #145
Hopefully you then continue updating gpx, as it's the best gamepanel! I also have really cool ideas what you guys could add in gpx! IF you take this project over, please contact me at shqipepp@gmail.com I will tell you my ideas!

[2016-08-11 12:59] TekkitCommando commented on #145
@shqipepp Okay! Hopefully after we get in a Skype meeting with @devryan he will be convinced to stay and come back to working on GPX with us as a team member :) We are all up for new ideas :D

[2016-08-11 15:09] fritz-net commented on #145
Why not making an fork, start improving there, and then talk about taking over?

[2016-08-11 15:46] TekkitCommando commented on #145
@fritz-net We are already talking to @devryan and if we were to fork it and go off on our own he would not benefit from it and we want him to still be able to benefit from GPX as well. We are hoping for a voice meeting with him soon.

[2016-08-11 16:48] shqipepp commented on #145
@TekkitCommando Yesterday i also made a post in GPX forum. These are 2 Features which would be really good to have in GPX. Check the post out for yourself: https://gamepanelx.com/forums/viewtopic.php?f=14&t=5128

[2016-08-11 17:02] devryan commented on #145
@shqipepp thanks for the post - although there are already FTP accounts included if you use GPX Remote, the only difference from your request is that the FTP account is per-user, not per-server.  So the user owning the game servers gets their own FTP account and can add/replace files using their GPX account credentials.

[2016-08-11 17:03] devryan commented on #145
I also agree with @fritz-net, adding a few commits even as fixes would be an awesome start :+1:

[2016-08-11 17:04] TheDiamondYT1 commented on #145
@devryan Alright. We have forked the repos to https://github.com/bytepowered/

[2016-08-11 17:06] devryan commented on #145
You rock @TheDiamondYT1.  Send a few fixes my way, I can approve and we'll be off running

[2016-08-12 12:52] TekkitCommando commented on #145
@devryan Alright, we will start working on the software and send some PR's your way. Also, I am sending you an email about possible options for boosting the growth rate of GPX support as far as users and finances. Let me know what you think about them and we can talk about implementing in the future once these PR's are sent and we are looking into the future.

[2016-08-12 20:01] shqipepp commented on #145
Im so excited to see you guys working together. I wish you best luck with your work!

[2016-08-14 14:12] TekkitCommando commented on #145
@shqipepp Thanks :)

[2016-08-16 19:09] whmcsred opened #146 "Error CS:GO Installing"
In the template installation is only showing that this not installed more out of 0%, and look at the logs me the following error appears.

/var/www/html//_SERVERS/scripts/SteamCMDFunctions: line 189: ./steamcmd.sh: No such file or directory

[2016-08-20 19:27] xognovalis opened #147 "mysql"
http://php.net/manual/en/function.mysql-connect.php

Come on guys. It was deprecated in 2013.

[2016-08-21 05:33] TekkitCommando commented on #147
@xognovalis Updating it tomorrow.

[2016-08-23 12:27] TekkitCommando commented on #147
@xognovalis Should have it complete today or tomorrow, got busy yesterday.

[2016-08-23 13:20] xognovalis commented on #147
No problem, been busy myself, that's why I want to replace the console server manager I made with a nice web panel.

[2016-08-23 14:59] TekkitCommando commented on #147
@xognovalis Nice.

[2016-08-23 21:09] xognovalis commented on #147
Also might see if I am able to make pushbullet integration, if the plugin system would allow for that.

[2016-08-23 21:56] TekkitCommando commented on #147
@xognovalis Sweet.

[2016-08-24 02:41] TekkitCommando commented on #147
@xognovalis [PR for MySQLi](https://github.com/devryan/GamePanelX-V3/pull/148)

[2016-08-26 01:17] stevealexandre opened #149 "Error Steam Game install"
Hello,

Your panel is really great and more functional than other.
Unfortunately, I have an issue like many people as I can see and I have tried to resolved it by myself since 3hours but it's time to give up and ask to you a support ...
I have search in forum & issues(here), but I haven't found my solution :(.

I'm block like some peoples at 0% with status steam_running and size Unknown

Server :

[2016-08-26 02:51] devryan commented on #149
Yeah, this issue happens for a ton of people.

The best thing to do, is to run the game install commands that you see in the Template for CS go under Automation tab, and see what the actual error is.  That SHOULD be logged though, and if it isn';t I need to fix that.

[2016-08-27 14:01] theSfr commented on #149
Any news @devryan ?

[2016-08-27 21:42] devryan commented on #149
There is a steam CMD log, located here: $HOME/tmp/steam_$tpl_id.log

So if using local mode, this would either be in the ajax/tmp/ directory, or the _SERVERS/tmp, or if using remote, /usr/local/gpx/tmp/

Paste here if you can find it.

[2016-08-27 21:46] devryan commented on #149
You know what, this log needs to be streamed straight to the web browser.  Too many people are having this problem. I'll start working on this.

Also, is this a dedicated server, VM, where is this hosted, just out of curiousity?

[2016-08-27 22:11] theSfr commented on #149
Here the log requested :
[code]

It's a dedicated server on a personnal computer host in my room. (I5 4670K) local mode only so.
Debian 8.5 up to date.

[2016-08-27 22:22] devryan commented on #149
Ah-ha!

Yeah, that is a super common problem with the steamcmd utility.  Note the "Error! App '740' state is 0x202 after update job."

That's the problem.  You can fix it by re-running it over and over again until it installs.  I am not sure why this bug still exists with the Steam framework.

Is the /var/www/gamepanel/_SERVERS/tmp/21/740 directory still there?  What's inside it?

[2016-08-27 22:22] devryan commented on #149
There are a lot of steam discussions on that: https://steamcommunity.com/discussions/forum/13/864959336482275679/

[2016-08-27 22:23] theSfr commented on #149
Yes directory still there and a part of csgo files are present !
But it's weird cause if i'm trying with steamcmd directly from valve website and try install csgo, I have not this issue =X

[2016-08-27 22:34] devryan commented on #149
Is apparmor enabled on your system maybe?  What's your disk space like?

Also, if you go into the install directory (/var/www/gamepanel/_SERVERS/tmp/21/740), can you paste what's in there?

[2016-08-28 04:21] theSfr commented on #149
I have reinstall all my server because I made a big mistake (chmod on / :+1: )
For moment, I got an other result from last time from steam.sh ... :
`Running Steam on debian 8 64-bit
STEAM_RUNTIME is enabled automatically
Unpack runtime failed, error code 1
Error:
Couldn't set up the Steam Runtime. Are you running low on disk space?
Continuing...
Press enter to continue:
./steam.sh: ligne 473: /var

[2016-08-28 05:04] theSfr commented on #149
I made a mistake so I had to reinstalled all my server (chown / :+1: )
After reinstall new weird error ... :
[code]

[2016-08-28 05:09] xognovalis commented on #149
Do you have ia32libs installed on your dedicated machine?

[2016-08-28 05:27] theSfr commented on #149
I don't know how I have done the template but it's ok now xD.
Maybe by forcing by myself with the steamcmd, don't know...
I'm installing server right :+1:

[2016-08-28 05:43] theSfr commented on #149
Server installed with success and work !
I have tried a second template and same, all is ok.

here some trails to follow :
1) I have installed steam with all his dependencies
2) I have tried to update directly from steamcmd for the first template (i'm not sure if this has do something or if the web gui was in progress)

[2016-09-14 01:55] icecrystal99 opened #150 "Failed to start CS:GO 740"
Hello,

My CS:GO server wont run. When i press on the "**Restart**" button, the server stay offline. And when i check the server.log i see the following line:

Wed Sep 14 03:42:54 CEST 2016 csgoserver Restart: Restarting XX.XX.XXX.XXX.27015 for user example.
Wed Sep 14 03:42:55 CEST 2016 csgoserver Restart: Failed to start GNU Screen, no PID!  Exiting.

Did someone how i can fix this ?

Thanks.

[2016-09-17 20:46] devryan commented on #150
Did your template, when you created it, go through all the percentages and take a while to install or was it instant?

[2016-10-11 03:28] BeFreezy opened #151 "Error: Failed to create user: Field 'last_updated' doesn't have a default value"
During installation.

[2016-10-16 03:20] skeeta92 commented on #151
how do I fix this error "Error: error, Internal Server Error"

[2016-10-16 03:20] skeeta92 opened #152 "Error: error, Internal Server Error"
Forums are down....anybody know the fix for this?

[2016-10-16 06:43] Fehler404 commented on #151
@BeFreezy @skeeta92 It's bc u have "MySQL Strict Mode" enabled.

Fix:
1. Edit ur my.cnf -> Can either be found under /etc/my.cnf or /etc/mysql/my.cnf
2. Insert `[mysqld]
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"`

Should look like this:
![this](https://cloud.githubusercontent.com/assets/14951074/19415804/a3da7be0-937c-11e6-82d8-9d4421dc475b.jpg)

[2016-10-16 16:36] TNovalis commented on #152
Are you using PHP 7?

[2016-10-17 03:03] skeeta92 commented on #152
No sir 5.6 Centos 7 with Sentora Panel

[2016-10-17 03:10] skeeta92 commented on #151
That line doesn't exist... do I need to just add it ?

[2016-10-17 03:13] skeeta92 commented on #152
Im using MariaDB

[2016-10-17 13:18] Fehler404 commented on #151
Yes

[2016-10-17 16:07] skeeta92 commented on #151
Still no luck :/

[2016-10-18 19:09] devryan commented on #152
Typically when GPX is used under a hosting software, there are problems with mixing the two.  Usually web panels have some security plugins enabled that don't allow gpx's internal functions to run.  Check your panel's access and error log and see what the actual error is (Internal Server Error) just means check your logs for the actual issue

[2016-10-18 19:10] devryan commented on #151
You restarted mysqld after your change?  What mysql server version and flavor is it?

Note that gpx is not tested against strict mode-enabled mysql so you may need to tweak some things.

[2016-10-18 20:03] skeeta92 commented on #152
PHP Fatal error:  Call to undefined function posix_getpwuid() in /var/sentora/hostdata/zadmin/public_html/netserj_com/gpx/install/install_actions.php on line 66

[2016-10-18 22:57] devryan commented on #152
Make sure php-posix package is installed and reinstall apache after

On Oct 18, 2016 2:03 PM, "skeeta92" <notifications@github.com> wrote:

[2016-10-22 07:27] Korynkai commented on #147
Bump... Surprised that this issue is still idle seeing as this should've been considered high priority and addressed a long time ago...

[2016-10-25 01:03] devryan commented on #147
@TekkitCommando what is the status on this?

[2016-10-25 01:05] devryan commented on #152
@skeeta92 you have yum repo dependency problems you need to fix. That has nothing to do with gpx.

[2016-10-25 01:05] #152 closed

[2016-10-25 01:05] devryan commented on #151
This is being hosted on a hosting control panel other than gpx -- can't support it if I don't know how it works or what it blocks

[2016-10-25 01:05] #151 closed

[2016-10-25 01:06] devryan commented on #150
No response, closing

[2016-10-25 01:06] #150 closed

[2016-10-25 12:38] TNovalis commented on #147
He hasn't committed to a repository in months. He is likely too busy with school and work.

[2016-11-11 15:49] TheDiamondYT1 commented on #145
I cant believe this issue was only 3 months ago! Is the project maintained now @devryan? I see you have removed the message stating that its not actively maintained.

[2016-11-12 17:40] thesgamingfr commented on #149
Hello dude,
It was a long time :)
Fresh install of my server with fresh install of the panel with your tuto.
Template at 0% with this error in the tmp log :

linux32 existed into 2 dir and steamcmd file too.

[2016-11-15 01:54] devryan commented on #145
@TheDiamondYT1 I removed that message when I started working on it again.

The reason updates are slow, the changes that will come are big ones, specifically the changing of how user passwords are stored, changing the use of SSH user/pass, I want to make this thing much more secure.  I need to do recon on who's interested in updates from this panel, I don't want to spend time on it if nobody is us

[2016-11-24 03:45] humm3r1 opened #153 "Deploy Instructions"
Hey there,

I love this gamepanel and can't come to terms with using anything else still. I found this many years ago when v3 first came out and have been using it ever since for my own servers. So just to show that it is still used by at least someone so you have a reason to continue the project, here is some documentation :)

I wanted to post something to contribute for documentation on setting

[2016-11-26 12:12] ShadyCenation opened #154 "Server fails to start, log doesn't exists, Upload fails"
Hey!,

I installed GamePanelX on my linux VPS running Debian 8. I installed GPX following the documentation properly, it installed properly. and is now current running too. I installed it for SA-MP Server management, which is GTA Sanandreas : MP. I used the pre-defined templates and created a server. But, when I click on restart/start, it says Success, but the server stays offline.

I click to vie

[2016-12-25 19:28] devryan commented on #153
Thanks for posting this!  I will try and incorporate this into the main docs here.

[2017-01-06 05:39] zarlo opened #155 "php7 Support"
GamePanelX-V3 will not work on php7
#147
#148

[2017-01-26 21:16] rststeam commented on #145
Where is that new updates i'm interested

[2017-01-26 23:29] TekkitCommando commented on #145
@rststeam We moved it to a new repo. However I decided to slowly make a new panel from scratch.

[2017-01-26 23:37] TheDiamondYT1 commented on #145
Im out.

[2017-01-27 07:26] rststeam commented on #145
@tekido Open Source or paid? I would like to continue my hosting project but nowadays there is not good panel around

[2017-01-27 13:42] TekkitCommando commented on #145
@rststeam, it will have a free and paid plan. I haven't decided for sure yet but it will possibly be free for 1 machine and pay per machine after that. Which is cheaper then your usual pay per server or flat fee stuff.

[2017-01-27 17:47] rststeam commented on #145
Any website or some place where features are announced? Any WIP or anything.

[2017-01-27 18:46] TekkitCommando commented on #145
@rststeam I haven't made a site yet. The Github organization link is https://github.com/gamesuite but no code code is uploaded yet. You can still watch things though.

That's all I can say. I don't want to be advertising on Ryan's repo issues.

[2017-02-03 05:22] nickdodd25 opened #156 "Failed: Remote Failed: Remote: Login to the Remote Server failed!"
Hi there i have a gamepanelx remote installed on one vps and the master installed on another vps.

On the remote vps i have ssh port switched to an alternate port. When i add the remote server via the Create Network Server feature on the master, everything goes great with no issues. I can install/remove templates to the remote just fine (But i do have issues sometimes as it seems i am reaching the

[2017-02-05 20:45] devryan commented on #156
Hey there - so, when it logs in to create a template, that uses the 'gpx' user you created during installation of the Remote.  When it SSH's in for your gameserver creation/start/stop, it uses the actual linux system account for your gameserver user - in this case it would be 'gpxpanel' - they have 'gpx' prefixed on them.

Can you show your /etc/ssh/sshd_config?

[2017-02-06 00:59] nickdodd25 commented on #156
Ah i seem to have fixed it now that i know that info.

Wouldn't it be better to use the username that the remote server is installed on, than it would be to use gpx?

For example make it so its panelexampleuser not gpxexampleuser replace panel with whatever username  the remote is installed as.

[2017-02-09 04:01] devryan commented on #156
I mean, that's just the convention I used.  What did you do to fix it, just incase someone has the same issue?

[2017-02-09 04:01] #156 closed

[2017-02-09 05:09] nickdodd25 commented on #156
I ended up reinstalling the remote with the default username of gpx. And since i use keys for my other accounts i had a match block for the panel account that allowed the use of a password. I simply made it look like this.
`Match user gpx*`
    `PasswordAuthentication yes`
    `PubkeyAuthentication no`

[2017-02-14 00:26] jknclan opened #157 "Failed: Create: Invalid IP Address (undefined) specificed"
hi i am in and put an GamePanelX and have come to me to put the Create Network Server but has poblemmer with when I write ip I get this error here
Failed: Create: Invalid IP Address (undefined) specificed

there is a solution to the

mvh JKN

[2017-02-16 10:08] TheFox1312 opened #158 "Expression error"
Im getting an error when i try to login but after reloading the site im logged in.

Login Failed: Failed to query for plugins: Expression #1 of ORDER BY clause is not in SELECT list, references column 'gpx.plugins.name' which is not in SELECT list; this is incompatible with DISTINCT

Also i cant create templates.

Failed to query for games: Expression #1 of SELECT list is not in GROUP BY clause an

[2017-02-16 14:32] Wimmie13 commented on #155
I am trying to fix this myself, but I will only test this on PHP 7

[2017-02-16 19:27] Wimmie13 commented on #158
Login fix:
Go to includes/classes/plugins.php and change line 128 to this:
`$result_ac  = @mysql_query("SELECT DISTINCT intname FROM plugins WHERE active = '1' ORDER BY ` **intname** `ASC") or die('Failed to query for plugins: '.mysql_error());`
It said that he tried to order by **name** which is not selected by the query, it should be **intname**.

Templates fix:
Go to admin/games.php and change

[2017-02-16 21:12] devryan commented on #155
If you fix it and I test it I'll merge it into master

On Feb 16, 2017 6:32 AM, "Wimmie13" <notifications@github.com> wrote:

[2017-02-16 21:16] Wimmie13 commented on #155
Okay. It works on PHP 7.0 right now, but I also came across a lot of bugs in the SQL.

[2017-02-17 10:15] Wimmie13 commented on #155
In the following code PHP 7.0 support is added, some query bugs are fixed and the SQL files are changes so they have default values.
There are still some bugs that must be fixed. The <font> tag is deprecated and inline styling is not the best way to style the website. I thing that classes can be better for better code reading etc.
[GamePanelX-V3-master.zip](https://github.com/devryan/GamePanelX-V3

[2017-02-24 03:27] majovec opened #159 "Minecrat Pocket Edition Support"
please add minecraft pocket edition game

[2017-03-02 06:33] CornFlakes1991 opened #160 "CS:GO Server RCON"
Hey,

when i set the password for the csgo server it will not apply. If i set it via server.cfg it will not work and when i set it via gpx it doesn't work too.

Any ideas? Sorry for my bad english

[2017-03-02 15:11] #160 closed

[2017-03-02 16:59] bestshow opened #161 "GamePanelX-V3 – Cross-Site Scripting (XSS)"
Product: GamePanelX-V3
Download: https://github.com/devryan/GamePanelX-V3
Vunlerable Version: 3.0.12 and probably prior
Tested Version: 3.0.12
Author: Haojun Hou in ADLab of Venustech

Advisory Details:
A Cross-Site Scripting (XSS) was discovered in“GamePanelX-V3 3.0.12”, which can be exploited to execute arbitrary code.
The vulnerability exists due to insufficient filtration of user-supplied data

[2017-03-03 19:14] #159 closed

[2017-03-08 16:41] jakepbrown27 opened #162 "Question about editing files through web UI"
Hi Folks - I got this up and running and added a 7 Days to Die template and got it all working!! Loving this so far. I have a question in regards to editing files through the web UI such as in the case of 7D2D the serverconfig.xml I can't seem edit it through the UI but can other text based documents, is it possible to do this? Reason I ask is that I can't find documentation for startup parameters

[2017-03-09 20:11] sterrek commented on #151
Hi, i have to same problem im searching for a few hours. i could provide you the details of my vps

[2017-03-12 16:45] TheCocasio commented on #54
I WANT THIS !

[2017-03-12 17:06] TheCocasio opened #163 "I have lose my password"
I have lose my password, What i'm doing ?

[2017-03-15 16:54] bestshow commented on #161
Excuse me, is there anyone dealing with this issue?

[2017-03-15 18:00] devryan commented on #161
Looking at this.

[2017-03-15 18:15] devryan commented on #161
@bestshow did you actually see an alert window pop up?

I get the standard "ERROR: Invalid ajax action "\"><\""!" which occurs if the ?a parameter is not in the supported list of actions.

It bails out here in ajax.php (https://github.com/devryan/GamePanelX-V3/blob/master/ajax/ajax.php#L29):

if(!in_array($this_request, $allowed_reqs)) die('ERROR: Invalid ajax action "' . $this_request . '"!');

[2017-03-15 18:36] bestshow commented on #161
I tested this issue on firefox latest version in win7.
![image](https://cloud.githubusercontent.com/assets/5211744/23964918/2a65c422-09f1-11e7-98f5-4b88b59204a9.png)

[2017-03-15 18:55] devryan commented on #163
Are you asking how to reset your admin or user password?

[2017-03-15 21:29] TheCocasio commented on #163
Yep

[2017-03-16 18:36] bestshow commented on #161
You have fixed it,the vulnerbility is gone now.

[2017-03-16 19:53] devryan commented on #161
Merged the fix into master branch, closed the branch: https://github.com/devryan/GamePanelX-V3/commit/2f78f27727da4216587d46a0be13ffc71f9267a2

Thanks for reporting, @bestshow !

[2017-03-16 19:53] #161 closed

[2017-03-18 01:16] guilherme-argentino opened #165 "TF2 fails to create new server"
Error details:

[code]

It happens during server creation. It doesn`t finish normally and It doesn`t work if I try to start the server.

[2017-03-18 05:44] bestshow commented on #161
@devryan Thanks for replying, you`re welcome.

[2017-03-20 01:49] dhalucario commented on #155
When is this fix going to be pushed?

[2017-03-20 18:04] devryan commented on #165
What does your disk space look like, any chance your disk is 100% full?

[2017-03-20 18:05] devryan commented on #163
You can currently reset directly in the database if you have access, the password reset feature is sitting in a branch that I need to merge.

[2017-03-20 18:33] devryan commented on #162
Yep, simple html/javascript with ajax requests on the front end, php 5 on the backend.  It needs to be updated to a newer setup for php 7.

Does it flat out not let you edit the XML file, or it errors out trying?

CPU/RAM checks: are you using local or remote mode?

[2017-03-20 18:38] jakepbrown27 commented on #162
For the CPU/RAM question: I was using the remote. I had one master (where I presume all the bits are stored) and then the slave running the 7D2D server.

In regards to the .xml is doesn't seem to give me the option at all - where some files seem to be editable and others are not. I will hop on later and see if I can get a screenshot to better illustrate what I mean.

[2017-03-21 20:00] ethsmith commented on #162
@devryan I was planning to work on PR's for this but then I found Go (aka Golang) and it has become my favorite programming language for its performance and syntax and so I decided I was gonna try writing a panel from scratch based off this one. I called it "GoPanelX" haha. I will credit you in the README.

[2017-03-21 21:02] Xinecraft opened #166 "Gameserver stuck at installing status."
Hey. Gameserver stuck at installing status even after install is complete and I can run or stop server but status is stuck at "Installing". It happen when I use remote servers

[http://prntscr.com/emu6nn](http://prntscr.com/emu6nn)
[http://prntscr.com/emu6yz](http://prntscr.com/emu6yz)
[http://prntscr.com/emu792](http://prntscr.com/emu792)

[2017-03-22 00:19] devryan commented on #162
@TekkitCommando good luck.  It takes a lot of time/dedication since there are so many random little features that are needed, even before you're actually starting/stopping servers :+1:

@jakepbrown27 alright.  XML should be editable, let me check on that

[2017-03-22 14:29] AppleCarmine commented on #166
You have to wait about 1 hour ... I waited 1 hour and went

[2017-03-22 14:30] AppleCarmine opened #167 "Problem with FTP"
Hello everyone.

 I install pure-ftpd on my server, but when I try to log in gives me the following error:

 421 Home directory not available-aborting

 How do I solve?

[2017-03-23 01:19] guilherme-argentino commented on #165
Yes it was.

I had to run the test and keep track of Disk Space. After the error apears, It had 6GB free disk space.

Anyway, Thank you

[2017-03-23 01:19] #165 closed, assigned to nobody

[2017-04-10 07:46] NemesisMw3 opened #168 "Forgoten Password or maybe a BUG?"
Hey guys i don't know what happens, but i'm sure i didn't forget my password, since have it as saved on my browser, the issue is that when i'm trying to login i get  **Login Failed: Invalid login! Please try again.** i don't know why, this is the administrator account that i can't login, i don't see any button for Forget Password or Reset Password, even i have user account and with it i can login,

[2017-04-13 03:03] MOON923 opened #169 "cant start game server"
Failed: Remote Failed: CreateServer: Required settings were left out. Exiting.

[2017-04-22 17:16] #145 closed

[2017-04-23 20:28] AleshQ opened #170 "Status: Offline"
Hello! I have created CS 1.6 server,  when I try to start it, it shows me - Success! But the server is still offline and I can't join it. Any suggestions?

[2017-04-26 07:34] Mulano77 opened #171 "Error: Failed to create default network server: Create: Invalid IP Address (my IPv6 Adress) specificed"
Hello,

cant install the WI. If I clicked "install" the Message "Error: Failed to create default network server: Create: Invalid IP Address (xxx:xxx:xxx:xxx::xxx:xxx) specificed"comes up. My System:

Ubuntu 14.04.5 LTS
Plesk Onyx 17.05.03

[2017-05-02 00:33] devryan commented on #168
Are you sure you're under /admin, or are you just at your base game panel URL?  Common issue is to leave off /admin.

[2017-05-02 00:33] devryan commented on #169
Can you post a screenshot of what you're trying?

[2017-05-02 00:34] devryan commented on #170
Are you able to see the server log or the main game status page?

[2017-05-02 00:35] devryan commented on #171
This panel almost never works along with other control panels (Plesk).  It's designed for vanilla systems with no other control panels installed.

Do you not currently have an IPV4 address?  I believe an update for IPv6 in that spot needs to happen.

[2017-05-02 07:33] AleshQ commented on #170
I was found a problem in PHP version. PHP was downgraded from 7.0 to 5.3 and that helped.

[2017-06-08 14:07] vini0404 opened #172 "php7 / mysqli support"
I get this error. I am using php 7.0 with mysqli on ubuntu.
Error: You do not have MySQL support (mysql_connect) built into PHP! Rebuild your PHP install with MySQL support and try again.

related to:
https://github.com/devryan/GamePanelX-V3/issues/155
will this ever getting fixed?

[2017-06-27 08:17] will2therich commented on #172
Hi @vini0404
Dont mean to self-advertise or anything (I can remove if you wish)
See my fork here that currently works on PHP 7.0 Let me know if you encounter any issues
https://github.com/will2therich/FlareServers-GamePanel

Ta,
Will

[2017-07-11 01:21] devryan commented on #172
@will2therich I just opened an issue in your project, looks great.  If there are any feature-complete items I can merge them into the main GamePanelX codebase if they prove stable

[2017-07-13 20:42] ghost commented on #172
This is an important error, because the app is designed under MYSQL and not MySQLi, need to start development to MySQLi

[2017-07-14 16:02] ghost commented on #172
Im developing MySQLi Version, merge with my branch.

[2017-08-01 22:18] #158 closed

[2017-08-05 19:52] SamTheMan1456 opened #174 "Arma 3 on the GamepanelX Cloud"
Please add Arma 3 to the cloud!! I don't see it there.

[2017-08-14 17:46] VAVANO commented on #170
I'm having same issue, but changing PHP Version to 5.3 doesnt helped for me - so is there any other Solution for this?

[2017-08-14 17:54] VAVANO commented on #154
Same Problem for me, if someone have a Solution, please let me know :)
Thanks in advance.

[2017-08-14 19:12] VAVANO commented on #150
Can this please be reopened? I' Having same issues...

[2017-08-14 19:23] VAVANO opened #175 "Failed to Start - No PID"
Hello, is there any Solution for this issue posted here, please?

![image](https://user-images.githubusercontent.com/31014506/29287689-9f914002-8136-11e7-8921-b63337eedfda.png)

Creating Templates and installing Server is all without any issues..

[2017-08-15 13:35] recondiscord opened #176 "Mta Server Config Problem"
When editing the config, or even rewriting it the Panel ends up corrupting it, and still rewrite all configurations, even custom editions of the user

[2017-08-23 00:41] will2therich commented on #172
Hi @devryan
In regards to feature-complete items, so far PHP 7.0 support seems to be proving stable however will let you know how it continues to roll, I have integrated a system that blocks login after 5 attempts, maintenance mode functionality and sub user support(more work to do) currently had no issues with any however they need further testing.

Thanks,
Will

[2017-08-23 00:42] will2therich commented on #172
Oh and one more thing I have also implemented SHA-256 encryption with personal and sitewide salt keys

[2017-08-30 10:16] Wolfnight29 opened #177 "ERROR STEAMGUARD"
### I try create one new csgo template and i take that error

Redirecting stderr to '/home/Wolfnight29/Steam/logs/stderr.txt'
[  0%] Checking for available updates...
[----] Verifying installation...
Steam Console Client (c) Valve Corporation
-- type 'quit' to exit --
Loading Steam API...OK.
[1mlogin sUSERNAME PASSWORD
[0m
Logging in user 'USERNAME' to Steam Public...
Enter the current code from

[2017-08-31 09:02] will2therich commented on #177
For most servers you do not need to own the game to download the server files.
Steam suggest making a second account and turning off steam guard you an then use this to login to steam with GamePanelX

[2017-08-31 11:15] Wolfnight29 commented on #177
tks itss fixed

[2017-08-31 11:16] Wolfnight29 opened #178 "No screen session found."
I have master installed, one remote.

I create a csgo server and the server dont start always offline in console i take:
"No screen session found."

how i can fix?

[2017-09-01 08:32] VAVANO commented on #170
*push*

[2017-09-01 09:56] will2therich commented on #177
@Wolfnight29
I'm glad!

[2017-09-01 09:57] will2therich commented on #177
@devryan You can close this :P

[2017-09-01 09:58] will2therich commented on #175
Hi @VAVANO
In a SSH session to the server can you start a screen session by running the command "screen"?
Ta

[2017-09-01 09:58] will2therich commented on #178
Hi @Wolfnight29
Do you have screen installed on your system?
Ta

[2017-09-01 09:59] will2therich commented on #176
Hi @recondiscord
Can you clarify what you mean by corrupting it?
Ta

[2017-09-01 10:05] will2therich commented on #170
Hi @VAVANO
https://github.com/will2therich/FlarePanel - PHP7.0 support can be found in this fork of GPX

[2017-09-01 10:27] Wolfnight29 commented on #178
yes i have gnu screen

[2017-09-01 11:29] VAVANO commented on #175
Yes, i have a screenshot here. i made just "screen" into console to see what happens: http://prntscr.com/gfrzz7

[2017-09-02 11:13] will2therich commented on #178
Hmm are you only receiving the error when starting a server?
Can you create a template without issues?
And to confirm you are using the remote server for this or a local generated server?

[2017-09-02 13:49] Wolfnight29 commented on #178
yes i take error when i start server, yes i caan crete template wwithout issues
i create template in remote and i crete server in remote

[2017-10-13 13:12] damian1231 commented on #54
where is it?

[2017-10-20 21:45] #177 closed, assigned to nobody

[2017-10-20 21:45] #176 closed, assigned to nobody

[2017-10-22 06:07] miloncse commented on #172
@will2therich i downloaded your version still getting same error.
php version  7.0.15

[2017-10-22 16:24] will2therich commented on #172
@miloncse
My bad the installer was still looking for mysql_connect and no mysqli_connect!
Sorted in the latest change

[2017-12-17 20:13] cailir opened #182 "GamePanelX Installation error"
When I try to install GamePanelX it says:

But I have Mysql PHP installed on my ubuntu!

[2017-12-19 07:54] MrRSEV commented on #182
you should install php-curl:

- apt-get update
- apt-get upgrade
- apt-get install php-curl
- service apache2 restart

[2017-12-19 10:47] will2therich1 commented on #182
Hi @cailir

Are you using PHP7?
GPX doesn't currently support this see pr #181

[2017-12-19 16:53] wasn325 opened #183 "Problems with Database"
I am gettings these Error messages.

game setup:

Failed to query for games: Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'gpx.d.id' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by

creating a server:
Failed to query for games: Expression #8 of SELECT list is not in GROUP BY clause

[2017-12-19 22:30] cailir commented on #182
Yes, I`m using PHP7

[2017-12-19 22:59] aqzsedd commented on #149
Hi guys,

JFYI, I had the same issue, and I solved it by adding more disk space!
Make sure that more than 10GB are available! ;)

Enjoy

[2017-12-20 09:31] will2therich commented on #182
Hi @cailir
Please try my PHP7.0 branch
https://github.com/will2therich/GamePanelX-V3/tree/PHP7.0

Ta

[2017-12-20 09:31] will2therich commented on #183
Hi @wasn325

What database are you using?
and what PHP version?

Ta

[2017-12-20 11:02] wasn325 commented on #183
Mysql: 5.7.20
PHP: 5.6.30

[2017-12-20 18:50] wasn325 commented on #158
Can you help me with this problem ?:

Failed to query for games: Expression #8 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'gpx.n.ip' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by

It happens, when I try to add a server and choose the network

[2017-12-20 18:52] wasn325 commented on #158
Sorry I mean the server

[2017-12-20 18:55] wasn325 commented on #158
And If I try to ad a template no network is shown up

[2017-12-20 18:58] devryan commented on #158
Which version of MySQL are you running?  Any special config options, what
type of server is this?  Standalone, shared hosting, etc?

On Dec 20, 2017 10:55 AM, "wasn325" <notifications@github.com> wrote:

[2017-12-20 19:09] wasn325 commented on #158
Mysql:  5.7.20
standalone

[2017-12-20 19:41] wasn325 commented on #158
![screenshot 115](https://user-images.githubusercontent.com/30980936/34225272-14edc7a0-e5c6-11e7-988f-ce7bd77f536e.png)
I mean this

[2017-12-21 09:50] will2therich commented on #183
You seem to have the Setting in sql sql_mode=only_full_group_by
are you able to change this?
https://stackoverflow.com/questions/23921117/disable-only-full-group-by

[2017-12-21 14:04] wasn325 commented on #183
Changed it and it works. Thank you :)

But if I try to make a Template this happenes: Failed: Failed to insert template and I don't know the reason

[2017-12-21 14:38] wasn325 commented on #158
ok fixed the problem. It was sql_mode=only_full_group_by.

But if I try to make a Template this happenes: Failed: Failed to insert template and I don't know the reason

[2017-12-22 10:26] will2therich commented on #183
Hmm @wasn325

That seems to be an error when the template is inserted into the database.
Could you try reinstalling the panel to ensure the database has been created correctly?

[2017-12-22 10:27] will2therich commented on #182
Hi @cailir

Have you had any luck with the php7 branch?

[2017-12-22 11:06] wasn325 commented on #183
@will2therich

There is only a problem: Error: Failed to create user: Field 'last_updated' doesn't have a default value

[2017-12-26 11:06] wasn325 commented on #183
@will2therich Are you still here?

[2017-12-27 10:50] will2therich commented on #183
Hi @wasn325

My apologies, Ive been trying to figure out what can cause this.
I will have a look through the code.

[2017-12-27 10:51] will2therich commented on #183
@wasn325
Are you able to use php7 and use my php7 branch?
https://github.com/will2therich/GamePanelX-V3/tree/PHP7.0

[2017-12-27 18:28] wasn325 commented on #183
The Problem is not PHP. I tested freemysqlhosting.net and it worked, but I do not want anyone to have access to the data

[2017-12-27 20:03] wasn325 commented on #183
Ou and your php7 Branch has a problem at adding a server: Failed: Failed to insert server: Field 'simplecmd' doesn't have a default value

And if I add a template the sites is like frozen : starting...

[2017-12-27 20:15] devryan commented on #183
The current code base hasn't been tested much on anything past Percona/MySQL 5.6. Past that the defaults do change - after @will2therich fix, @wasn325 did you cleanly drop the database and reinstall the panel from scratch? If not it'd have half it's stuff not properly setup

[2017-12-27 20:33] wasn325 commented on #183
I dropped the tables and the database and created a new one, reinstalled it and so on...

[2018-01-03 22:19] wasn325 commented on #183
@will2therich @devryan are you still here?

[2018-01-10 21:56] MsaGamer opened #184 "Steam install = 0"
First time installing GamePanelX but when installing a server template the steam install is at 0 and doesn't move.

log from /var/www/GamePanelX-V3/_SERVERS/tmp/steam_1.log

./steamcmd.sh: line 29: /var/www/GamePanelX-V3/_SERVERS/tmp/1/linux32/steamcmd: No such file or directory

log from /var/www/GamePanelX-V3/_SERVERS/logs/steam.log

SteamCMDInstall: (Wed Jan 10 23:51:50 CET 2018) Starting Steam

[2018-01-11 22:16] #184 closed, assigned to nobody

[2018-01-12 20:11] MsaGamer opened #185 "GamePanelX wont install files"
When installing a server the files wont install: These are the logs:

servers.log
Thu Jan 11 23:12:51 CET 2018 dedi-par-69990 CreateServer: Creating server directory /var/www/GamePanelX-V3//_SERVERS/accounts/example/xx.xxx.xxx.xxx.27015 ...
Thu Jan 11 23:12:51 CET 2018 dedi-par-69990 CreateServer: Extracting TPL (5) to /var/www/GamePanelX-V3//_SERVERS/accounts/example/xx.xxx.xxx.xxx.27015 ...
Thu

[2018-01-21 04:34] WTFBlaze opened #186 "Duplicate Entry"
so I'm on the installation page of GamePanelX and i put all my info in and i get this as my response

Error: Failed to run SQL: Duplicate entry '1' for key 'PRIMARY'

i don't know what to do.

[2018-01-24 17:17] will2therich commented on #185
Hi @MsaGamer

Can you get the raw steam log from the /var/www/GamePanelX-V3//_SERVERS/tmp/ (I think!)
Basically the process is being taken to steam where the issue will be occouring.

Most likley it will be a (no subscription) error. but the actual error is there.

P.S I suggest editing out the IP's from the body of your issue :)

[2018-01-24 17:18] will2therich commented on #186
@dueckers5

Hm Looks like there are two instances of something within (most likley a user)
And when the panel is trying to create another one its failing since its a primary key.

Try dropping the entire DB and recreating and trying again.
If not I can help and have a look into your DB to see what it is?

Ta

[2018-01-24 17:20] will2therich commented on #183
Hi @wasn325

Sorry for the late reply (I help for free nothing to do with GPX!)
Can you possible give me a DB dump from your install?
And log the issue in the issue tracker on my repo?

Thanks!

[2018-01-24 17:21] will2therich commented on #182
@devryan This can probs be closed

[2018-01-24 19:39] wasn325 commented on #183
@will2therich here? https://github.com/will2therich/GamePanelX-V3/issues

[2018-01-25 06:12] WTFBlaze commented on #186
yeah if u have discord that would be extremely helpful as i tried doing what you said. and now it is telling me last_updated (which is under configuration) has no default. i go to the structure and it says none of the tables have defaults. Idk what to do at this point

[2018-01-25 08:33] will2therich commented on #186
@dueckers5

Yeah I have discord, give me a message (will2therich #3411) or join the GamePanelX Discord https://discord.gg/mg5sRC

[2018-01-25 15:05] WTFBlaze commented on #186
Hey can u make another permanent invite link as it expired also that duscord taf dosent work

[2018-01-25 16:46] will2therich commented on #186
Hi @dueckers5

My bad.
New link!
https://discord.gg/MW5q5cM

[2018-01-25 17:07] will2therich commented on #186
Issue seems to be caused by 'PHP 7.0.27'
Recommended to try installing using the following branch:
https://github.com/will2therich/GamePanelX-V3/tree/PHP7.0

@devryan This can be closed now :)

[2018-02-20 11:40] dheinzeger opened #189 "Server Console via screen"
How can I open the Server Console in Putty with screen?

I can't find any screen sessions on different Users. Where nad how did GamePanelX starts a Server?

[2018-03-10 14:44] cailir opened #190 "PHP5.6 error"
When I try to install the panel it says:

I'm using php 5.6, Ubuntu 14.4.

[2018-03-11 01:31] cailir commented on #95
Check your logs. You can also post it here(use pastebin.com)

[2018-03-11 01:32] cailir commented on #95
Cara verifica os logs pela pasta, vê se tem algo errado.

[2018-03-13 10:08] will2therich commented on #189
Hi @dheinzeger

In order to view the screen you will need to su as the gpx master user (provided you are using the remote scripts) then you should be able to access the screens

[2018-03-13 10:09] will2therich commented on #190
Hi @cailir
Please try this branch.
https://github.com/will2therich/GamePanelX-V3/tree/PHP7.0

[2018-03-13 21:39] cailir commented on #190
Thanks, now it's saying

[2018-03-17 01:48] cailir commented on #190
Miss configuration... You can close this issue

[2018-03-17 01:49] #190 closed, assigned to nobody

[2018-03-17 02:39] #182 closed, assigned to nobody

[2018-03-17 02:42] cailir opened #191 "Error while creating games"
When i'm trying to create a server it says:

I'm using the  PHP 7.0 Version(#181 )

[2018-03-18 22:41] cailir commented on #191
I've just found a solution! It was an DB error...

[2018-03-18 22:41] #191 closed, assigned to nobody

[2018-03-25 20:37] xXjojojXx opened #192 "bitte einmal die Auflistung aller Spiele"
bitte einmal die Auflistung aller Spiele
einmal die Auflistung welcher Version
Minecraft mc
Forge
bungeecord
spigot
ark+mods [map]
und ts3
Space Engineer
da ich mich hierfür interessieren würde ich bitte der komplette Liste haben wenn das geht +ein gutes Tutorial
und wie oft ich spiele upgedatet werden

[2018-04-04 21:33] cailir opened #193 "How to limit the max players of a samp/MTA server?"

[2018-04-04 23:25] cailir opened #194 "Upload Error"
When I try to upload a file it says:

`<name> <size> Upload failed`

(replacing name with the file name and size with the file size)
I've already modified my php.ini!

[2018-07-02 20:14] spexxi opened #195 "Problems with adding a new game"
Hello!

I am currently experiencing problems when trying to add a new game. I have filled all the text inputs and still get the error:

"Failed: Failed to add the game: Field 'cloudid' doesn't have a default value" with no further explanation. Does anyone know what the issue might be? Regardless of the game, it gives the same error.

I would be very thankful for any response! I am in big need of s

[2018-07-17 14:57] will2therich commented on #195
Hey sorry for the late reply here!

What PHP version are you using & MYSQL version?

Thanks!

[2018-07-17 16:34] spexxi commented on #195
I am using php7.0 (downloaded your version for php7). I was using the latest version of MySQL immediately updated and upgraded software after install. I solved it by adding it via the games table. However, I encountered even more errors when trying to create the template. I am looking at other options now.

[2018-08-27 23:49] Spooky1234 opened #196 "Can't create Teamspeak 3"
Hi,

I follow a tutorial on youtube : how to install teamspeak 3 on game panel x and he doesn't work .
(link : https://www.youtube.com/watch?v=33kYnU8DK8Y)

I can't create servers it always offline and console write this : ServerOutput: Sorry, server log doesnt exist.

[2018-10-09 15:34] HaxHead opened #197 "Configuration.php"
in the configuration.php is not text or other the config is empty help pls!

[2019-01-03 21:15] ae2xdnk opened #198 "GamePanelx FTP login not working!"
Hey i installed this such a great panel on my server but there is one problem users cannot login via filezilla on ftp to upload files?

Do anyone know where is the problem?

[2019-01-05 10:14] scriptbee opened #199 "Permission Problem, Error: internal server error, cannot start gmsrvs"
HI Guys!

I've used the php7.0 version from will2therich and have only 1 problem remaining.
The Site/Script always tries to use www:data as user and group, instead of web1:client1 , which
ispconfig is using. I know this, because after i've created a new gameserver, it has it done with www:data .

If i try starting the gameserver, it gives a permission error.
but where to hell is www:data defined ?

[2019-01-06 14:12] ae2xdnk commented on #197
did you upload all files? and installed?

[2019-01-19 19:15] mmasko commented on #182
Will, just letting you know, I am working with your php7 branch, and I still get the PHP error mentioned here. I did install php-curl as suggested and restarted apache.
![image](https://user-images.githubusercontent.com/5659876/51431275-78346c00-1bdb-11e9-8f55-6dde8600dfe4.png)

[2019-01-19 19:49] mmasko commented on #182
Everything I have found points to mysql_connect being removed from PHP version 7 and replaced with mysqli_connect().

[2019-04-08 22:33] DestroFact opened #200 "Restart: Screen failed to start, check your server settings. Exiting."
Hello, i tried to install a mc server.
I installed screen on Debian 8 but this error come when i want to start the server.
Can you help me?
Restart: Screen failed to start, check your server settings.  Exiting.

Thanks

[2019-07-15 20:25] Alonzozx opened #201 "Currently down for maintenance. Please try again soon."
i installed a the web panel a web hosting i got this issue "Currently down for maintenance. Please try again soon." how to solve it please ?

[2019-07-15 23:22] devryan commented on #201
Double check if you deleted or renamed your"install" directory, and make
sure your URL ends in /admin/

On Mon, Jul 15, 2019, 1:26 PM Alonzozx <notifications@github.com> wrote:

[2019-07-19 14:46] Alonzozx commented on #201
another issue
Error: You do not have MySQL support (mysql_connect) built into PHP! Rebuild your PHP install with MySQL support and try again.
i am installing it on a web hosting php 7.3
![Capture](https://user-images.githubusercontent.com/37635931/61543900-a4269200-aa44-11e9-92c2-34dbd75092b0.PNG)

[2019-10-10 20:14] #194 closed, assigned to nobody

[2019-10-10 20:14] #193 closed, assigned to nobody

[2020-06-28 14:56] alextwothousand commented on #182
Hi there, I used your branch, however, when logging in it doesn't redirect me to the actual panel. I redirects me BACK to the homepage. Any fix for this?

[2020-10-28 15:43] SneaKz123 opened #202 "HTTP Error 500"
Hey Guys does anybody know how to fix this?

Also here is my log file:

[Tue Oct 27 23:08:18.031965 2020] [php7:error] [pid 19676] [client 93.202.151.28:60998] PHP Fatal error:  Uncaught Error: Call to a member function fetch_row() on bool in /var/www/html/mcweb/install/update.php:20\nStack trace:\n#0 {main}\n  thrown in /var/www/html/mcweb/install/update.php on line 20
[Tue Oct 27 23:08:20.680497

[2020-10-28 17:30] ethsmith commented on #202
Just use Pterodactyl. This is abandoned

[2020-10-29 15:42] SneaKz123 commented on #202
Thanks for your answer.

ive decided to use the interface from teklab.

[2020-10-29 15:42] #202 closed, assigned to nobody

[2022-02-05 00:04] #186 closed, assigned to nobody